@model CalendarViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }
<script>
  var calendarDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.CalendarDefinition));
  calendarDef.calendarContainer="#calendar";
  calendarDef.deleteUrl = "@MvcHtmlString.Create(Model.DeleteUrl)";

    $(document).ready(function(){
        new kyt.CalendarController(calendarDef);
    });
</script>
<input type="hidden" id="RootId" name="RootId" value="@Model.RootId"/>
<div id='calendar'></div>
