@model CalendarViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }
<script>
    var calendarDef = @MvcHtmlString.Create(JsonUtil.ToJson(Model.CalendarDefinition));
    calendarDef.calendarContainer="#calendar";
    calendarDef.deleteUrl = "@MvcHtmlString.Create(Model.DeleteUrl)";
    extraFormOptions.calendarDef = calendarDef;
</script>
<div id='calendar'></div>
