@model KnowYourTurf.Core.CalendarViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web


@{
    Layout = "";
}

<div class="content-header">
    <span class="title-name">@Model._Title</span>
</div>
<div id="contentArea" class="content-inner">
    <div class="form-scroll-inner calendar">
        <div class="calendarContainer">
            <div id='calendar'></div>
         </div>
    </div>
</div>
