@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@model KnowYourTurf.Web.Areas.Reports.Controllers.TasksByFieldViewModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<div class="row">
    @Html.SubmissionFor(x=>x.FieldEntityId).Size("8").ToHtmlTag()
</div>
@section FooterButtons
{
    @StandardButtonFor("viewReport", WebLocalizationKeys.VIEW_REPORT).AddClass("save").ToHtmlTag()
}
