@model showPermissions
@using KnowYourTurf.Web.Controllers;

@{ Layout = "~/Views/Shared/_Layout.cshtml"; }
<ul>
       @foreach (var perm in Model.Permissions){
            <li>
                <b>@perm.UserName</b>
                <hr/>
                UserGroups
                <ul>
                    @foreach (var g in perm.userGroupList){
                        <li>
                            @g
                        </li>
                    }
                </ul>
                <hr/>
                    Permissions
                <hr/>
                <ul>
                    @foreach (var p in perm.PermList){
                        <li>
                            @p
                        </li>
                    }
                </ul>
            </li> 
       }

</ul>