@model KnowYourTurf.Web.Models.Material.MaterialViewModel
@using CC.Core.Html.CCUI

@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
}
    <div class="col left">
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Name).ToHtmlTag()
        </div>
        <div class="fieldRow">
            @Html.SubmissionFor(x => x.Description).ToHtmlTag()
        </div>
    </div>

