<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=owner-pc;Initial Catalog=KnowYourTurf;Integrated Security=True;" />

    <!-- **************PRODUCTION******************* -->
   <!--<add key="KnowYourTurf.sql_server_connection_string" value="Data Source=tcp:s04.winhost.com;Initial Catalog=DB_21609_knowyourturf;User ID=DB_21609_knowyourturf_user;Password=KYTadmin6;Integrated Security=False;"/>
   --> <!-- **************PRODUCTION******************* -->

    <!--      <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=tcp:s04.winhost.com;Initial Catalog=DB_21609_kytqa;User ID=DB_21609_kytqa_user;Password=KYTadmin6;Integrated Security=False;"/>
    -->
  </appSettings> 
 <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.6.0" newVersion="2.4.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.Mocks" publicKeyToken="0B3305902DB7183F" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.1337" newVersion="3.5.0.1337"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
