@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@model KnowYourTurf.Web.Areas.Reporting.Controllers.TDAViewModel

@{
    Layout = "~/Views/Shared/_ReportLayout.cshtml";
}
<div class="row">
    @Html.SubmissionFor(x=>x.StartDate).Size("3").ToHtmlTag()
    @Html.SubmissionFor(x => x.EndDate).Size("3").ToHtmlTag()
</div>
@section FooterButtons
{
    @StandardButtonFor("viewReport", WebLocalizationKeys.VIEW_REPORT).AddClass("save").ToHtmlTag()
}
