[user]
	name = Raif Harik
	email = reharik@gmail.com
	signingkey = 
[gui]
	recentrepo = C:/Development/KnowYourTurf
	recentrepo = C:/Development/MethodFitness/Development

[diff]
	tool = winmerge
[difftool "winmerge"]
	cmd = winmerge.sh \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
