<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

  <!-- Application Connection String -->
  <!-- Application Connection String -->
  <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=RHARIK-PC;Initial Catalog=KnowYourTurf_DEV;Integrated Security=True;" />
<!--  <add key="KnowYourTurf.sql_server_connection_string" value="Server=cannibalcoder.cloudapp.net;Database=KnowYourTurf_QA;User ID=KnowYourTurf;Password=KYTAdmin6;Connection Timeout=30;" />-->
  <!-- END Application Connection String -->
  <!-- END Application Connection String -->

  <!-- Configuration Connection String -->
  <!-- Configuration Connection String -->
  <add key="constring_DEV" value="Data Source=RHARIK-PC;Initial Catalog=KnowYourTurf_DEV;Integrated Security=True;" />
  <add key="constring_CANNIBAL_QA" value="Server=cannibalcoder.cloudapp.net;Database=KnowYourTurf_QA;User ID=KnowYourTurf;Password=KYTAdmin6;Connection Timeout=30;"  />
  <add key="constring_CANNIBAL_PROD" value="Server=cannibalcoder.cloudapp.net;Database=KnowYourTurf_PROD;User ID=KnowYourTurf;Password=KYTAdmin6;Connection Timeout=30;"  />
  <!-- END Configuration Connection String -->
  <!-- END Configuration Connection String -->


  <!-- General App Settings -->
  <add key="BuildNumber" value='0' />
  <add key="Name" value='System Support' />
  <add key="Host" value='http://localhost:666' />
  <add key="LanguageDefault" value= 'en-US' />
  <add key="ScriptsPath" value='~/content/scripts/' />
  <add key="CssPath" value='~/content/css/' />
  <add key="ImagesPath" value='/content/images/' />
  <add key="WebSiteRoot" value='KnowYourTurf.Web' />
  <add key="CustomerPhotosEmployeePath" value='CustomerPhotos\\Employee' />
  <add key="CustomerPhotosFacilitiesPath" value='CustomerPhotos\\Facilities' />
  <add key="jsApplicationName" value="MF" />

  <!-- END General App Settings -->

</appSettings>
