<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

<!--  <add key="MethodFitness.sql_server_connection_string" value="Data Source=RHARIK-DESKTOP\MSSQLSERVER2012;Initial Catalog=MethodFitness_DEV_NH;Integrated Security=True;" />-->
  <add key="MethodFitness.sql_server_connection_string" value="Server=cannibalcoder.cloudapp.net;Database=MethodFitness_QA;User ID=methodFitness;Password=m3th0d;Connection Timeout=30;" />

  <add key="constring_DEV" value="Data Source=rharik-desktop;Initial Catalog=MethodFitness_DEV;Integrated Security=True;" />
  <add key="constring_CANNIBAL_QA" value="Server=cannibalcoder.cloudapp.net;Database=MethodFitness_QA;User ID=methodfitness;Password=m3th0d;Connection Timeout=30;" />

</appSettings>
