<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

<!--  <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=rharik-PC;Initial Catalog=KnowYourTurf_DEV;Integrated Security=True;" />-->
<!--  <add key="KnowYourTurf.sql_server_connection_string" value="Server=cannibalcoder.cloudapp.net;Database=KnowYourTurf_QA;User ID=KnowYourTurf;Password=KYTadmin6;Connection Timeout=30;" />-->

  <add key="constring_DEV" value="Data Source=rharik-PC;Initial Catalog=KnowYourTurf_DEV;Integrated Security=True;" />
  <add key="constring_CANNIBAL_QA" value="Server=cannibalcoder.cloudapp.net;Database=KnowYourTurf_QA;User ID=KnowYourTurf;Password=KYTadmin6;Connection Timeout=30;" />
  <add key="constring_CANNIBAL_PROD" value="Server=cannibalcoder.cloudapp.net;Database=KnowYourTurf_PROD;User ID=KnowYourTurf;Password=KYTadmin6;Connection Timeout=30;" />

</appSettings>
