@using HtmlTags
<script>
    extraFormOptions.title = "@Model.Title";
     @RenderSection("HeaderJavascript", false)
</script>
    <div id="errorMessagesForm" class="errorMessagesForm KYT_errorMessages" ><ul></ul></div>   
    @RenderBody()
