@using KnowYourTurf.Web
@model KnowYourTurf.Web.Controllers.HeaderViewModel
            
<div id="main-header">
   <div id="main-header-image"></div>
    <span id="login-links">
        @if (Model.LoggedIn)
        {
            <a href="" class="first" id="userSettings">@Model.User.FullName (@Model.User.Company.Name) </a>
            <a href="" onclick="window.open('/Orthogonal/Help'); return false;">Help</a>
            @Html.ActionLink(WebLocalizationKeys.LOG_OUT.ToString(), "Logout", "Login")
        }
        else
        {
            @Html.ActionLink(WebLocalizationKeys.SIGN_IN.ToString(), "Login", "Login")
        }
    </span>
</div>
