<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=(local);Initial Catalog=KnowYourTurf_QA;Trusted_Connection=Yes;" />
    <!--    <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=CannibalCoder.cloudapp.net;Initial Catalog=KnowYourTurf_QA;User ID=KnowYourTurf;Password=KYTadmin6;"/>-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>
