/*
Run this script on:

        tcp:s04.winhost.com.DB_21609_kytqa    -  This database will be modified

to synchronize it with:

        (local).KnowYourTurf

You are recommended to back up your database before running this script

Script created by SQL Compare version 9.0.0 from Red Gate Software Ltd at 6/12/2011 3:29:17 PM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Dropping constraints from [dbo].[BaseProduct]'
GO
ALTER TABLE [dbo].[BaseProduct] DROP CONSTRAINT [PK__BaseProd__9C892F9D5285BBEF]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Calculator]'
GO
ALTER TABLE [dbo].[Calculator] DROP CONSTRAINT [PK__Calculat__9C892F9D65989063]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Chemical]'
GO
ALTER TABLE [dbo].[Chemical] DROP CONSTRAINT [PK__Chemical__5910CAE356564CD3]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Company]'
GO
ALTER TABLE [dbo].[Company] DROP CONSTRAINT [PK__Company__9C892F9D69692147]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[EmailTemplate]'
GO
ALTER TABLE [dbo].[EmailTemplate] DROP CONSTRAINT [PK__EmailTem__9C892F9D6D39B22B]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Employee]'
GO
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [PK__Employee__206A9DF82489E715]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Equipment]'
GO
ALTER TABLE [dbo].[Equipment] DROP CONSTRAINT [PK__Equipmen__9C892F9D71FE6748]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Event]'
GO
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [PK__Event__9C892F9D75CEF82C]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[EventType]'
GO
ALTER TABLE [dbo].[EventType] DROP CONSTRAINT [PK__EventTyp__9C892F9D799F8910]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Fertilizer]'
GO
ALTER TABLE [dbo].[Fertilizer] DROP CONSTRAINT [PK__Fertiliz__5910CAE35A26DDB7]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Field]'
GO
ALTER TABLE [dbo].[Field] DROP CONSTRAINT [PK__Field__9C892F9D7D7019F4]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[InventoryProduct]'
GO
ALTER TABLE [dbo].[InventoryProduct] DROP CONSTRAINT [PK__Inventor__9C892F9D0140AAD8]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[LocalizedEnumeration]'
GO
ALTER TABLE [dbo].[LocalizedEnumeration] DROP CONSTRAINT [PK__Localize__9C892F9D05113BBC]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[LocalizedProperty]'
GO
ALTER TABLE [dbo].[LocalizedProperty] DROP CONSTRAINT [PK__Localize__9C892F9D08E1CCA0]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[LocalizedText]'
GO
ALTER TABLE [dbo].[LocalizedText] DROP CONSTRAINT [PK__Localize__9C892F9D0CB25D84]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Material]'
GO
ALTER TABLE [dbo].[Material] DROP CONSTRAINT [PK__Material__5910CAE35DF76E9B]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[PurchaseOrder]'
GO
ALTER TABLE [dbo].[PurchaseOrder] DROP CONSTRAINT [PK__Purchase__9C892F9D14537F4C]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[PurchaseOrderLineItem]'
GO
ALTER TABLE [dbo].[PurchaseOrderLineItem] DROP CONSTRAINT [PK__Purchase__9C892F9D1082EE68]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Seed]'
GO
ALTER TABLE [dbo].[Seed] DROP CONSTRAINT [PK__Seed__5910CAE361C7FF7F]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Task]'
GO
ALTER TABLE [dbo].[Task] DROP CONSTRAINT [PK__Task__9C892F9D18241030]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[TaskType]'
GO
ALTER TABLE [dbo].[TaskType] DROP CONSTRAINT [PK__TaskType__9C892F9D1CE8C54D]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[User]'
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [PK__User__9C892F9D20B95631]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Vendor]'
GO
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [PK__Vendor__9C892F9D2C2B08DD]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[VendorContact]'
GO
ALTER TABLE [dbo].[VendorContact] DROP CONSTRAINT [PK__VendorCo__9C892F9D285A77F9]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[BaseProduct]'
GO
ALTER TABLE [dbo].[BaseProduct] ALTER COLUMN [IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__BaseProd__9C892F9D7F60ED59] on [dbo].[BaseProduct]'
GO
ALTER TABLE [dbo].[BaseProduct] ADD CONSTRAINT [PK__BaseProd__9C892F9D7F60ED59] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Task]'
GO
ALTER TABLE [dbo].[Task] ADD
[InventoryDecremented] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Task__9C892F9D44FF419A] on [dbo].[Task]'
GO
ALTER TABLE [dbo].[Task] ADD CONSTRAINT [PK__Task__9C892F9D44FF419A] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[User]'
GO
ALTER TABLE [dbo].[User] ADD
[Company_id] [bigint] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__User__9C892F9D4D94879B] on [dbo].[User]'
GO
ALTER TABLE [dbo].[User] ADD CONSTRAINT [PK__User__9C892F9D4D94879B] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Calculat__9C892F9D1273C1CD] on [dbo].[Calculator]'
GO
ALTER TABLE [dbo].[Calculator] ADD CONSTRAINT [PK__Calculat__9C892F9D1273C1CD] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Chemical__5910CAE303317E3D] on [dbo].[Chemical]'
GO
ALTER TABLE [dbo].[Chemical] ADD CONSTRAINT [PK__Chemical__5910CAE303317E3D] PRIMARY KEY CLUSTERED  ([BaseProduct_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Company__9C892F9D164452B1] on [dbo].[Company]'
GO
ALTER TABLE [dbo].[Company] ADD CONSTRAINT [PK__Company__9C892F9D164452B1] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__EmailTem__9C892F9D1A14E395] on [dbo].[EmailTemplate]'
GO
ALTER TABLE [dbo].[EmailTemplate] ADD CONSTRAINT [PK__EmailTem__9C892F9D1A14E395] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Employee__206A9DF85165187F] on [dbo].[Employee]'
GO
ALTER TABLE [dbo].[Employee] ADD CONSTRAINT [PK__Employee__206A9DF85165187F] PRIMARY KEY CLUSTERED  ([User_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Equipmen__9C892F9D1ED998B2] on [dbo].[Equipment]'
GO
ALTER TABLE [dbo].[Equipment] ADD CONSTRAINT [PK__Equipmen__9C892F9D1ED998B2] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Event__9C892F9D22AA2996] on [dbo].[Event]'
GO
ALTER TABLE [dbo].[Event] ADD CONSTRAINT [PK__Event__9C892F9D22AA2996] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__EventTyp__9C892F9D267ABA7A] on [dbo].[EventType]'
GO
ALTER TABLE [dbo].[EventType] ADD CONSTRAINT [PK__EventTyp__9C892F9D267ABA7A] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Fertiliz__5910CAE307020F21] on [dbo].[Fertilizer]'
GO
ALTER TABLE [dbo].[Fertilizer] ADD CONSTRAINT [PK__Fertiliz__5910CAE307020F21] PRIMARY KEY CLUSTERED  ([BaseProduct_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Field__9C892F9D2A4B4B5E] on [dbo].[Field]'
GO
ALTER TABLE [dbo].[Field] ADD CONSTRAINT [PK__Field__9C892F9D2A4B4B5E] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Inventor__9C892F9D2E1BDC42] on [dbo].[InventoryProduct]'
GO
ALTER TABLE [dbo].[InventoryProduct] ADD CONSTRAINT [PK__Inventor__9C892F9D2E1BDC42] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Localize__9C892F9D31EC6D26] on [dbo].[LocalizedEnumeration]'
GO
ALTER TABLE [dbo].[LocalizedEnumeration] ADD CONSTRAINT [PK__Localize__9C892F9D31EC6D26] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Localize__9C892F9D35BCFE0A] on [dbo].[LocalizedProperty]'
GO
ALTER TABLE [dbo].[LocalizedProperty] ADD CONSTRAINT [PK__Localize__9C892F9D35BCFE0A] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Localize__9C892F9D398D8EEE] on [dbo].[LocalizedText]'
GO
ALTER TABLE [dbo].[LocalizedText] ADD CONSTRAINT [PK__Localize__9C892F9D398D8EEE] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Material__5910CAE30AD2A005] on [dbo].[Material]'
GO
ALTER TABLE [dbo].[Material] ADD CONSTRAINT [PK__Material__5910CAE30AD2A005] PRIMARY KEY CLUSTERED  ([BaseProduct_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Purchase__9C892F9D412EB0B6] on [dbo].[PurchaseOrder]'
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD CONSTRAINT [PK__Purchase__9C892F9D412EB0B6] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Purchase__9C892F9D3D5E1FD2] on [dbo].[PurchaseOrderLineItem]'
GO
ALTER TABLE [dbo].[PurchaseOrderLineItem] ADD CONSTRAINT [PK__Purchase__9C892F9D3D5E1FD2] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Seed__5910CAE30EA330E9] on [dbo].[Seed]'
GO
ALTER TABLE [dbo].[Seed] ADD CONSTRAINT [PK__Seed__5910CAE30EA330E9] PRIMARY KEY CLUSTERED  ([BaseProduct_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__TaskType__9C892F9D49C3F6B7] on [dbo].[TaskType]'
GO
ALTER TABLE [dbo].[TaskType] ADD CONSTRAINT [PK__TaskType__9C892F9D49C3F6B7] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Vendor__9C892F9D59063A47] on [dbo].[Vendor]'
GO
ALTER TABLE [dbo].[Vendor] ADD CONSTRAINT [PK__Vendor__9C892F9D59063A47] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__VendorCo__9C892F9D5535A963] on [dbo].[VendorContact]'
GO
ALTER TABLE [dbo].[VendorContact] ADD CONSTRAINT [PK__VendorCo__9C892F9D5535A963] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
