/*
Run this script on:

        tcp:s04.winhost.com.DB_21609_kytqa    -  This database will be modified

to synchronize it with:

        (local).KnowYourTurf

You are recommended to back up your database before running this script

Script created by SQL Compare version 9.0.0 from Red Gate Software Ltd at 5/23/2011 6:20:46 PM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Dropping constraints from [dbo].[BaseProduct]'
GO
ALTER TABLE [dbo].[BaseProduct] DROP CONSTRAINT [PK__BaseProd__9C892F9D00200768]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Calculator]'
GO
ALTER TABLE [dbo].[Calculator] DROP CONSTRAINT [PK__Calculat__9C892F9D1332DBDC]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Chemical]'
GO
ALTER TABLE [dbo].[Chemical] DROP CONSTRAINT [PK__Chemical__5910CAE303F0984C]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Company]'
GO
ALTER TABLE [dbo].[Company] DROP CONSTRAINT [PK__Company__9C892F9D17036CC0]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[EmailTemplate]'
GO
ALTER TABLE [dbo].[EmailTemplate] DROP CONSTRAINT [PK__EmailTem__9C892F9D1AD3FDA4]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Employee]'
GO
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [PK__Employee__206A9DF85224328E]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Equipment]'
GO
ALTER TABLE [dbo].[Equipment] DROP CONSTRAINT [PK__Equipmen__9C892F9D1F98B2C1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Event]'
GO
ALTER TABLE [dbo].[Event] DROP CONSTRAINT [PK__Event__9C892F9D236943A5]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[EventType]'
GO
ALTER TABLE [dbo].[EventType] DROP CONSTRAINT [PK__EventTyp__9C892F9D2739D489]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Fertilizer]'
GO
ALTER TABLE [dbo].[Fertilizer] DROP CONSTRAINT [PK__Fertiliz__5910CAE307C12930]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Field]'
GO
ALTER TABLE [dbo].[Field] DROP CONSTRAINT [PK__Field__9C892F9D2B0A656D]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[InventoryProduct]'
GO
ALTER TABLE [dbo].[InventoryProduct] DROP CONSTRAINT [PK__Inventor__9C892F9D2EDAF651]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[LocalizedEnumeration]'
GO
ALTER TABLE [dbo].[LocalizedEnumeration] DROP CONSTRAINT [PK__Localize__9C892F9D32AB8735]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[LocalizedProperty]'
GO
ALTER TABLE [dbo].[LocalizedProperty] DROP CONSTRAINT [PK__Localize__9C892F9D367C1819]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[LocalizedText]'
GO
ALTER TABLE [dbo].[LocalizedText] DROP CONSTRAINT [PK__Localize__9C892F9D3A4CA8FD]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Material]'
GO
ALTER TABLE [dbo].[Material] DROP CONSTRAINT [PK__Material__5910CAE30B91BA14]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[PurchaseOrder]'
GO
ALTER TABLE [dbo].[PurchaseOrder] DROP CONSTRAINT [PK__Purchase__9C892F9D41EDCAC5]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[PurchaseOrderLineItem]'
GO
ALTER TABLE [dbo].[PurchaseOrderLineItem] DROP CONSTRAINT [PK__Purchase__9C892F9D3E1D39E1]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Seed]'
GO
ALTER TABLE [dbo].[Seed] DROP CONSTRAINT [PK__Seed__5910CAE30F624AF8]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Task]'
GO
ALTER TABLE [dbo].[Task] DROP CONSTRAINT [PK__Task__9C892F9D45BE5BA9]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[TaskType]'
GO
ALTER TABLE [dbo].[TaskType] DROP CONSTRAINT [PK__TaskType__9C892F9D4A8310C6]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[User]'
GO
ALTER TABLE [dbo].[User] DROP CONSTRAINT [PK__User__9C892F9D4E53A1AA]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Vendor]'
GO
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [PK__Vendor__9C892F9D59C55456]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[VendorContact]'
GO
ALTER TABLE [dbo].[VendorContact] DROP CONSTRAINT [PK__VendorCo__9C892F9D55F4C372]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[BaseProduct]'
GO
ALTER TABLE [dbo].[BaseProduct] ADD
[IsDeleted] [int] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__BaseProd__9C892F9D5285BBEF] on [dbo].[BaseProduct]'
GO
ALTER TABLE [dbo].[BaseProduct] ADD CONSTRAINT [PK__BaseProd__9C892F9D5285BBEF] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Calculator]'
GO
ALTER TABLE [dbo].[Calculator] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Calculat__9C892F9D65989063] on [dbo].[Calculator]'
GO
ALTER TABLE [dbo].[Calculator] ADD CONSTRAINT [PK__Calculat__9C892F9D65989063] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Company]'
GO
ALTER TABLE [dbo].[Company] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Company__9C892F9D69692147] on [dbo].[Company]'
GO
ALTER TABLE [dbo].[Company] ADD CONSTRAINT [PK__Company__9C892F9D69692147] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[EmailTemplate]'
GO
ALTER TABLE [dbo].[EmailTemplate] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__EmailTem__9C892F9D6D39B22B] on [dbo].[EmailTemplate]'
GO
ALTER TABLE [dbo].[EmailTemplate] ADD CONSTRAINT [PK__EmailTem__9C892F9D6D39B22B] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Equipment]'
GO
ALTER TABLE [dbo].[Equipment] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Equipmen__9C892F9D71FE6748] on [dbo].[Equipment]'
GO
ALTER TABLE [dbo].[Equipment] ADD CONSTRAINT [PK__Equipmen__9C892F9D71FE6748] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Event]'
GO
ALTER TABLE [dbo].[Event] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Event__9C892F9D75CEF82C] on [dbo].[Event]'
GO
ALTER TABLE [dbo].[Event] ADD CONSTRAINT [PK__Event__9C892F9D75CEF82C] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[EventType]'
GO
ALTER TABLE [dbo].[EventType] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__EventTyp__9C892F9D799F8910] on [dbo].[EventType]'
GO
ALTER TABLE [dbo].[EventType] ADD CONSTRAINT [PK__EventTyp__9C892F9D799F8910] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Field]'
GO
ALTER TABLE [dbo].[Field] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Field__9C892F9D7D7019F4] on [dbo].[Field]'
GO
ALTER TABLE [dbo].[Field] ADD CONSTRAINT [PK__Field__9C892F9D7D7019F4] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[InventoryProduct]'
GO
ALTER TABLE [dbo].[InventoryProduct] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Inventor__9C892F9D0140AAD8] on [dbo].[InventoryProduct]'
GO
ALTER TABLE [dbo].[InventoryProduct] ADD CONSTRAINT [PK__Inventor__9C892F9D0140AAD8] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[LocalizedEnumeration]'
GO
ALTER TABLE [dbo].[LocalizedEnumeration] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Localize__9C892F9D05113BBC] on [dbo].[LocalizedEnumeration]'
GO
ALTER TABLE [dbo].[LocalizedEnumeration] ADD CONSTRAINT [PK__Localize__9C892F9D05113BBC] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[LocalizedProperty]'
GO
ALTER TABLE [dbo].[LocalizedProperty] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Localize__9C892F9D08E1CCA0] on [dbo].[LocalizedProperty]'
GO
ALTER TABLE [dbo].[LocalizedProperty] ADD CONSTRAINT [PK__Localize__9C892F9D08E1CCA0] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[LocalizedText]'
GO
ALTER TABLE [dbo].[LocalizedText] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Localize__9C892F9D0CB25D84] on [dbo].[LocalizedText]'
GO
ALTER TABLE [dbo].[LocalizedText] ADD CONSTRAINT [PK__Localize__9C892F9D0CB25D84] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[PurchaseOrder]'
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Purchase__9C892F9D14537F4C] on [dbo].[PurchaseOrder]'
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD CONSTRAINT [PK__Purchase__9C892F9D14537F4C] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[PurchaseOrderLineItem]'
GO
ALTER TABLE [dbo].[PurchaseOrderLineItem] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Purchase__9C892F9D1082EE68] on [dbo].[PurchaseOrderLineItem]'
GO
ALTER TABLE [dbo].[PurchaseOrderLineItem] ADD CONSTRAINT [PK__Purchase__9C892F9D1082EE68] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Task]'
GO
ALTER TABLE [dbo].[Task] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Task__9C892F9D18241030] on [dbo].[Task]'
GO
ALTER TABLE [dbo].[Task] ADD CONSTRAINT [PK__Task__9C892F9D18241030] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[TaskType]'
GO
ALTER TABLE [dbo].[TaskType] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__TaskType__9C892F9D1CE8C54D] on [dbo].[TaskType]'
GO
ALTER TABLE [dbo].[TaskType] ADD CONSTRAINT [PK__TaskType__9C892F9D1CE8C54D] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[User]'
GO
ALTER TABLE [dbo].[User] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__User__9C892F9D20B95631] on [dbo].[User]'
GO
ALTER TABLE [dbo].[User] ADD CONSTRAINT [PK__User__9C892F9D20B95631] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Vendor]'
GO
ALTER TABLE [dbo].[Vendor] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Vendor__9C892F9D2C2B08DD] on [dbo].[Vendor]'
GO
ALTER TABLE [dbo].[Vendor] ADD CONSTRAINT [PK__Vendor__9C892F9D2C2B08DD] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[VendorContact]'
GO
ALTER TABLE [dbo].[VendorContact] ADD
[IsDeleted] [bit] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__VendorCo__9C892F9D285A77F9] on [dbo].[VendorContact]'
GO
ALTER TABLE [dbo].[VendorContact] ADD CONSTRAINT [PK__VendorCo__9C892F9D285A77F9] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Chemical__5910CAE356564CD3] on [dbo].[Chemical]'
GO
ALTER TABLE [dbo].[Chemical] ADD CONSTRAINT [PK__Chemical__5910CAE356564CD3] PRIMARY KEY CLUSTERED  ([BaseProduct_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Employee__206A9DF82489E715] on [dbo].[Employee]'
GO
ALTER TABLE [dbo].[Employee] ADD CONSTRAINT [PK__Employee__206A9DF82489E715] PRIMARY KEY CLUSTERED  ([User_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Fertiliz__5910CAE35A26DDB7] on [dbo].[Fertilizer]'
GO
ALTER TABLE [dbo].[Fertilizer] ADD CONSTRAINT [PK__Fertiliz__5910CAE35A26DDB7] PRIMARY KEY CLUSTERED  ([BaseProduct_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Material__5910CAE35DF76E9B] on [dbo].[Material]'
GO
ALTER TABLE [dbo].[Material] ADD CONSTRAINT [PK__Material__5910CAE35DF76E9B] PRIMARY KEY CLUSTERED  ([BaseProduct_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Seed__5910CAE361C7FF7F] on [dbo].[Seed]'
GO
ALTER TABLE [dbo].[Seed] ADD CONSTRAINT [PK__Seed__5910CAE361C7FF7F] PRIMARY KEY CLUSTERED  ([BaseProduct_id])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
