/*
Run this script on:

        tcp:s04.winhost.com.DB_21609_kytqa    -  This database will be modified

to synchronize it with:

        (local).KnowYourTurf

You are recommended to back up your database before running this script

Script created by SQL Compare version 9.0.0 from Red Gate Software Ltd at 11/28/2011 8:04:36 AM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
IF EXISTS (SELECT * FROM tempdb..sysobjects WHERE id=OBJECT_ID('tempdb..#tmpErrors')) DROP TABLE #tmpErrors
GO
CREATE TABLE #tmpErrors (Error int)
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
GO
BEGIN TRANSACTION
GO
PRINT N'Dropping foreign keys from [dbo].[EmployeeToTask]'
GO
ALTER TABLE [dbo].[EmployeeToTask] DROP
CONSTRAINT [FK1B8C947A9836496F],
CONSTRAINT [FK1B8C947ADDC45A05]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Employee]'
GO
ALTER TABLE [dbo].[Employee] DROP
CONSTRAINT [FK74988DB263E72CDB]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Facilities]'
GO
ALTER TABLE [dbo].[Facilities] DROP
CONSTRAINT [FK56BF543363E72CDB]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[KYTAdministrator]'
GO
ALTER TABLE [dbo].[KYTAdministrator] DROP
CONSTRAINT [FKA733E92163E72CDB]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[MultiTenantUser]'
GO
ALTER TABLE [dbo].[MultiTenantUser] DROP
CONSTRAINT [FK84605C9C63E72CDB]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[BaseProductToVendor]'
GO
ALTER TABLE [dbo].[BaseProductToVendor] DROP
CONSTRAINT [FK41C8A9C9768BE715]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[VendorContact]'
GO
ALTER TABLE [dbo].[VendorContact] DROP
CONSTRAINT [FK6A8399B0768BE715]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[PurchaseOrder]'
GO
ALTER TABLE [dbo].[PurchaseOrder] DROP
CONSTRAINT [FK8BCCD4A5768BE715]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[InventoryProduct]'
GO
ALTER TABLE [dbo].[InventoryProduct] DROP
CONSTRAINT [FK9E1B01A528BE30D9]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping foreign keys from [dbo].[Equipment]'
GO
ALTER TABLE [dbo].[Equipment] DROP
CONSTRAINT [FKDEB29F8A768BE715]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Vendor]'
GO
ALTER TABLE [dbo].[Vendor] DROP CONSTRAINT [PK__Vendor__9C892F9D74AE54BC]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Employee]'
GO
ALTER TABLE [dbo].[Employee] DROP CONSTRAINT [PK__Employee__206A9DF8619B8048]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[Facilities]'
GO
ALTER TABLE [dbo].[Facilities] DROP CONSTRAINT [PK__Faciliti__206A9DF8656C112C]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[KYTAdministrator]'
GO
ALTER TABLE [dbo].[KYTAdministrator] DROP CONSTRAINT [PK__KYTAdmin__206A9DF8693CA210]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping constraints from [dbo].[MultiTenantUser]'
GO
ALTER TABLE [dbo].[MultiTenantUser] DROP CONSTRAINT [PK__MultiTen__206A9DF86D0D32F4]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [dbo].[KYTAdministrator]'
GO
DROP TABLE [dbo].[KYTAdministrator]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [dbo].[MultiTenantUser]'
GO
DROP TABLE [dbo].[MultiTenantUser]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [dbo].[Facilities]'
GO
DROP TABLE [dbo].[Facilities]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Dropping [dbo].[Employee]'
GO
DROP TABLE [dbo].[Employee]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[User]'
GO
ALTER TABLE [dbo].[User] ADD
[EmergencyContact] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[EmergencyContactPhone] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[EmployeeId] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[UserLoginInfo_id] [bigint] NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
ALTER TABLE [dbo].[User] DROP
COLUMN [LoginName],
COLUMN [Password],
COLUMN [Status],
COLUMN [UserRoles]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Rebuilding [dbo].[EmployeeToTask]'
GO
CREATE TABLE [dbo].[tmp_rg_xx_EmployeeToTask]
(
[Task_id] [bigint] NOT NULL,
[User_id] [bigint]  NULL
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
INSERT INTO [dbo].[tmp_rg_xx_EmployeeToTask]([Task_id], user_id) SELECT [Task_id,employee_id] FROM [dbo].[EmployeeToTask]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
DROP TABLE [dbo].[EmployeeToTask]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
EXEC sp_rename N'[dbo].[tmp_rg_xx_EmployeeToTask]', N'EmployeeToTask'
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Altering [dbo].[Company]'
GO
ALTER TABLE [dbo].[Company] ADD
[ZipCode] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
ALTER TABLE [dbo].[Company] DROP
COLUMN [Latitude],
COLUMN [Longitude]
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating [dbo].[UserLoginInfo]'
GO
CREATE TABLE [dbo].[UserLoginInfo]
(
[EntityId] [bigint] NOT NULL IDENTITY(1, 1),
[LastModified] [datetime] NULL,
[DateCreated] [datetime] NULL,
[CompanyId] [bigint] NULL,
[IsDeleted] [bit] NULL,
[LoginName] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[Password] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[Status] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[UserRoles] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[UserType] [nvarchar] (255) COLLATE SQL_Latin1_General_CP1_CI_AS NULL,
[CreatedBy_id] [bigint] NULL,
[ModifiedBy_id] [bigint] NULL
)
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__UserLogi__9C892F9D619B8048] on [dbo].[UserLoginInfo]'
GO
ALTER TABLE [dbo].[UserLoginInfo] ADD CONSTRAINT [PK__UserLogi__9C892F9D619B8048] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Creating primary key [PK__Vendor__9C892F9D693CA210] on [dbo].[Vendor]'
GO
ALTER TABLE [dbo].[Vendor] ADD CONSTRAINT [PK__Vendor__9C892F9D693CA210] PRIMARY KEY CLUSTERED  ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[EmployeeToTask]'
GO
ALTER TABLE [dbo].[EmployeeToTask] ADD
CONSTRAINT [FK1B8C947A9836496F] FOREIGN KEY ([Task_id]) REFERENCES [dbo].[Task] ([EntityId]),
CONSTRAINT [FK1B8C947A63E72CDB] FOREIGN KEY ([User_id]) REFERENCES [dbo].[User] ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[User]'
GO
ALTER TABLE [dbo].[User] ADD
CONSTRAINT [FK564EC989F10E77C5] FOREIGN KEY ([UserLoginInfo_id]) REFERENCES [dbo].[UserLoginInfo] ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[UserLoginInfo]'
GO
ALTER TABLE [dbo].[UserLoginInfo] ADD
CONSTRAINT [FKA68546328C596B01] FOREIGN KEY ([CreatedBy_id]) REFERENCES [dbo].[User] ([EntityId]),
CONSTRAINT [FKA6854632BF541B78] FOREIGN KEY ([ModifiedBy_id]) REFERENCES [dbo].[User] ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[BaseProductToVendor]'
GO
ALTER TABLE [dbo].[BaseProductToVendor] ADD
CONSTRAINT [FK41C8A9C9768BE715] FOREIGN KEY ([Vendor_id]) REFERENCES [dbo].[Vendor] ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[VendorContact]'
GO
ALTER TABLE [dbo].[VendorContact] ADD
CONSTRAINT [FK6A8399B0768BE715] FOREIGN KEY ([Vendor_id]) REFERENCES [dbo].[Vendor] ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[PurchaseOrder]'
GO
ALTER TABLE [dbo].[PurchaseOrder] ADD
CONSTRAINT [FK8BCCD4A5768BE715] FOREIGN KEY ([Vendor_id]) REFERENCES [dbo].[Vendor] ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[InventoryProduct]'
GO
ALTER TABLE [dbo].[InventoryProduct] ADD
CONSTRAINT [FK9E1B01A528BE30D9] FOREIGN KEY ([LastVendor_id]) REFERENCES [dbo].[Vendor] ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
PRINT N'Adding foreign keys to [dbo].[Equipment]'
GO
ALTER TABLE [dbo].[Equipment] ADD
CONSTRAINT [FKDEB29F8A768BE715] FOREIGN KEY ([Vendor_id]) REFERENCES [dbo].[Vendor] ([EntityId])
GO
IF @@ERROR<>0 AND @@TRANCOUNT>0 ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT=0 BEGIN INSERT INTO #tmpErrors (Error) SELECT 1 BEGIN TRANSACTION END
GO
IF EXISTS (SELECT * FROM #tmpErrors) ROLLBACK TRANSACTION
GO
IF @@TRANCOUNT>0 BEGIN
PRINT 'The database update succeeded'
COMMIT TRANSACTION
END
ELSE PRINT 'The database update failed'
GO
DROP TABLE #tmpErrors
GO
