<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=(local);Initial Catalog=KnowYourTurfSuite_QA;Trusted_Connection=Yes;"/>
    <add key="TexasSalesTax" value=".0825"/>
    <add key="PortfolioSubscriptionPrice" value="59.95"/>
    <add key="CreditCardProcessorUrl" value="https://secure.authorize.net/gateway/transact.dll"/>
    <add key="Authorize.Net_apiLogin" value="9Qrh5V97Gs"/>
    <add key="Authorize.Net_TransactionKey" value="98H4Z8sqy5zs77Aw"/>
    <add key="Authorize.Net_testMode" value="true"/>
    <!--    <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=KYT-KMCCLURE;Initial Catalog=KnowYourTurfSuite;User ID=sa;Password=friday;MultipleActiveResultSets=True;" />
  -->  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96D09A1EB7F44A77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.6.0" newVersion="2.4.6.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Rhino.Mocks" publicKeyToken="0B3305902DB7183F" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.1337" newVersion="3.5.0.1337"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
