<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bottles" version="1.0.0.441" targetFramework="net45" />
  <package id="Castle.Components.Validator" version="2.5.0" targetFramework="net45" />
  <package id="CC.Core" version="1.32" targetFramework="net45" />
  <package id="CC.Core.Utilities" version="1.32" targetFramework="net45" />
  <package id="CC.Security" version="1.32" targetFramework="net45" />
  <package id="CC.UI.Helpers" version="1.32" targetFramework="net45" />
  <package id="FubuCore" version="1.0.0.225" targetFramework="net45" />
  <package id="HtmlTags" version="1.32" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="ImageResizer" version="3.3.3" targetFramework="net45" />
  <package id="log4net" version="2.0.0" targetFramework="net45" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.29.1" targetFramework="net45" />
  <package id="Storyteller2" version="2.0.0.12" targetFramework="net45" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net45" />
</packages>