div.fieldRow input{width: 95%;}
div.fieldRow select{width: 100%;}
.multirow-input-tbl tr input {width: 96%;}
div.fieldRow textarea{width: 98%;overflow-y: hidden;}
div.fieldRow input{height: 17px;width: 97%;}
div.fieldRow select {height: 25px;width: 100%;}
div.fieldRow div.half {width:47%;}
.multirow-input-tbl tr input {width: 94%;}
.ui-jqgrid tr.jqgroup td {background-color: #D7D7D7;}
.content-outer .content-header .search{line-height: 25px;}
div.fieldRow div.one-five{width: 18%;}
div.fieldRow div.three-quarters{width: 70%;}
.email-list ul li{width: 91%;}
#signin .content-outer {height: 420px;position: relative;top: 50%;width: 385px;margin: 160px auto auto;}
.ui-jqgrid tr.ui-row-ltr td,.ui-th-ltr, .ui-jqgrid .ui-jqgrid-htable th{font-size: 11px;}
#left-navigation ul li.tools > a,.fg-menu a {color: #457596;}
body,#main-header{border:0px solid transparent;}
#preview .section .picture-detailed-description {overflow: hidden !important;}



.footer button {
    padding:0;
}

.content-outer .content-header .search {
    right:0;
}

.content-outer .content-header .clear-search {
    right:45px;
}

ul.token-input-list li.token-input-input-token {
    background: none;
}

.signin button.save {
	padding-bottom: 0px;
}

.ui-jqgrid tr.ui-row-ltr td {
	font-size: 11.2px !important;
}