@model PhotoViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Controllers
@{
    Layout = Model.Popup ? "~/Views/Shared/_popupLayout.cshtml" : "~/Views/Shared/_FormLayout.cshtml";
}


<div class="row">
    @Html.SubmissionFor(x => x.Name).Size("5").ToHtmlTag()
    @Html.SubmissionFor(x => x.PhotoCategoryEntityId).Size("5").LabelDisplay(WebLocalizationKeys.PHOTO_CATEGORY).ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.FileUrl).Size("10").LabelDisplay(WebLocalizationKeys.PHOTO).ToHtmlTag() 
</div>
<div class="row">
    @Html.SubmissionFor(x => x.Description).Size("10").ToHtmlTag()
</div>

