@using KnowYourTurf.Web
@model KnowYourTurf.Web.Models.ListTypeListViewModel

@{ Layout = "~/Views/Shared/_EmptyLayout.cshtml"; }
 <div class="col left clear">
    <div class="fieldRow dashboardGrid">
        <div class="gridHeader">@WebLocalizationKeys.TASK_TYPES</div>
        <div id="taskTypeGridContainer"></div>
    </div>
    <div class="fieldRow dashboardGrid">
        <div class="gridHeader">@WebLocalizationKeys.EVENT_TYPES</div>
        <div id="eventTypeGridContainer"></div>
    </div>
</div>
   
<div class="col right">
    <div class="fieldRow dashboardGrid">
        <div class="gridHeader">@WebLocalizationKeys.PHOTO_CATEGORIES</div>
        <div id="photoCategoryGridContainer"></div>
    </div>
    <div class="fieldRow dashboardGrid">
        <div class="gridHeader">@WebLocalizationKeys.DOCUMENT_CATEGORIES</div>
        <div id="documentCategoryGridContainer"></div>
    </div>
</div>
