@model ListViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@section HeaderScripts{
    @MvcHtmlString.Create(Script("tiny_mce/jquery.tinymce.js").ToString())
}
@section HeaderJavascript{
    $(document).ready(function(){
       new kyt.CrudController(gridControllerOptions);
    });
}
<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
