@model ListViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }

@section HeaderJavascript{
    $(document).ready(function(){
        crudOptions.id="employee";
        kyt.crudController(crudOptions).init();
    });
}

@MvcHtmlString.Create(StyledButtonFor("addNew", WebLocalizationKeys.NEW_EMPLOYEE).ToString())
<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
