@model ListViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@MvcHtmlString.Create(Script("kyt.VendorController.js").ToString())
@section HeaderJavascript{
    $(document).ready(function(){
        new kyt.VendorController(gridControllerOptions);
    });
}
<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
