GO
/****** Object:  StoredProcedure [dbo].[TaskReport]    Script Date: 3/30/2013 10:22:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[TaskReport] 
	@FieldId int,
	@StartDate	DateTime,
	@EndDate	DateTime,
	@ProductId	int,
	@EmployeeId	int,
	@TaskTypeId	int,
	@ClientId	int
AS
BEGIN
	SET NOCOUNT ON;
select 
t.EntityId,
f.Name,
tt.Name as TaskType,
t.ScheduledDate,
t.ActualTimeSpent,
p.name as ProductName,
t.QuantityUsed,
t.Notes,
@StartDate as StartDate,
@EndDate as EndDate,
STUFF((SELECT ', ' + em.FirstName +' '+ em.LastName 
	FROM [User] as em
		left join EmployeeToTask as emtt on em.entityid = emtt.User_id 
		where emtt.Task_id = t.entityid 
		FOR XML PATH('')), 1, 1, '') as Employees,
STUFF((SELECT ', ' + eq.name
	FROM [Equipment] as eq
		left join EquipmentToTask as eqtt on eq.entityid = eqtt.Equipment_id 
		where eqtt.Task_id = t.entityid 
		FOR XML PATH('')), 1, 1, '') as Equipment
 from task as t left join InventoryProduct as ip on ip.entityid = t.InventoryProduct_id
 left join baseproduct as p on ip.Product_id = p.entityid
 left join Field as f on f.EntityId = t.Field_id
 left join TaskType as tt on t.TaskType_id = tt.EntityId
where t.ClientId = @ClientId
	  AND (@FieldId = 0 or t.field_id = @FieldId )
	  AND (@StartDate = CAST('1800-01-01' as Date) AND t.ScheduledDate = t.ScheduledDate
	  OR
	  @StartDate < = CAST(t.ScheduledDate as Date) )
	  AND
	  (@EndDate = CAST('1800-01-01' as Date) AND t.ScheduledDate = t.ScheduledDate
	  OR 
	  @EndDate >= CAST(t.ScheduledDate as DATE ) )
	  AND
	  (@TaskTypeId = 0 or @TaskTypeId = t.TaskType_Id)
	  AND
	  (@ProductId = 0 or p.EntityId = @ProductId)
END
