USE [KnowYourTurf_DEV]
GO
/****** Object:  StoredProcedure [dbo].[TaskReport]    Script Date: 2/8/2013 11:02:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[TaskReport] 
	@FieldId int,
	@StartDate	DateTime,
	@EndDate	DateTime,
	@ProductId	int,
	@EmployeeId	int,
	@TaskTypeId	int,
	@ClientId	int
AS
BEGIN
	SET NOCOUNT ON;
select 
f.Name,
tt.Name as TaskType,
t.ScheduledDate,
t.ActualTimeSpent,
p.name as ProductName,
t.QuantityUsed
 from task as t left join InventoryProduct as ip on ip.entityid = t.InventoryProduct_id
 left join baseproduct as p on ip.Product_id = p.entityid
 left join Field as f on f.EntityId = t.Field_id
 left join TaskType as tt on t.TaskType_id = tt.EntityId
where t.ClientId = @ClientId
	  AND @FieldId = 0 or t.field_id = @FieldId 
	  AND @StartDate = CAST('1800-01-01' as Date) AND t.ScheduledDate = t.ScheduledDate
	  OR 
	  t.ScheduledDate >= @StartDate
	  AND
	  @EndDate = CAST('1800-01-01' as Date) AND t.ScheduledDate = t.ScheduledDate
	  OR 
	  t.ScheduledDate <= @EndDate  
	  AND
	  @TaskTypeId = 0 or @TaskTypeId = t.TaskType_Id
	  AND
	  @ProductId = 0 or p.EntityId = @ProductId

END
