<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RHarik-PC" value="Data Source=(local);Initial Catalog=KnowYourTurf_DEV2;Trusted_Connection=Yes;"/>
    <!--    <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=CannibalCoder.cloudapp.net;Initial Catalog=KnowYourTurf_QA;User ID=KnowYourTurf;Password=KYTadmin6;"/>-->
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
