<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Components.Validator" version="2.5.0" targetFramework="net40" />
  <package id="CC.Core" version="1.0.0.30" targetFramework="net40" />
  <package id="FluentMigrator" version="1.0.5.0" targetFramework="net35" />
  <package id="FluentMigrator.Tools" version="1.0.5.0" targetFramework="net35" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="ImageResizer" version="3.3.3" targetFramework="net40" />
  <package id="log4net" version="2.0.0" targetFramework="net40" />
  <package id="NHibernate" version="3.3.2.4000" targetFramework="net40" />
  <package id="NUnit" version="2.6.2" targetFramework="net40" />
  <package id="structuremap" version="2.6.4.1" targetFramework="net40" />
</packages>