@model KnowYourTurf.Web.Models.CalculatorViewModel
@using KnowYourTurf.Web
@using KnowYourTurf.Core.Html.FubuUI

@{
    Layout = "~/Views/Shared/_popupLayout.cshtml";
}

        <div class="KYT_section_header" >
            @MvcHtmlString.Create(WebLocalizationKeys.CALCULATOR.ToString())
        </div>
        
            @MvcHtmlString.Create(Html.HiddenFor(x => x.Calculator.EntityId).ToString())
            @Html.SubmissionFor(x => x.Calculator.Name).ToHtmlTag()

