@model ListViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }

<script>
     var gridDef=  @MvcHtmlString.Create(JsonUtil.ToJson(Model.GridDefinition))
    gridContainerMetaData.setDisplayButtonBuilder(function(builder){
                        builder.addButton("Return", builder.getCancelFunc());
                        return  builder.getButtons();
                    });
    $(document).ready(function(){
        $("#gridContainer").AsGrid(gridDef,{multiselect:false});
    });
</script>
@MvcHtmlString.Create(StyledButtonFor("print", WebLocalizationKeys.PRINT).AddClass("KYT_float_right").ToString())
<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
