@model ListViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }

@section HeaderScripts{
    @MvcHtmlString.Create(Script("kyt.InventoryController.js").ToString())
}
@section HeaderJavascript{

    $(document).ready(function () {
        new kyt.InventoryController(crudOptions);
    });
}
@MvcHtmlString.Create(StyledButtonFor("print", WebLocalizationKeys.PRINT).AddClass("KYT_float_right").ToString())
<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
