<?xml version="1.0"?>
<!--  Included from the Web.config to keep connection strings separate -->
<appSettings>

 <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=(local);Initial Catalog=KnowYourTurf_PROD;Integrated Security=True;" />

<!--        <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=CannibalCoder.cloudapp.net;Initial Catalog=KnowYourTurf_QA;User ID=KnowYourTurf;Password=KYTadmin6;Integrated Security=False;"/>-->
<!--      <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=woad.arvixe.com;Initial Catalog=KnowYourTurf_QA;User ID=kytsoft;Password=KYTadmin6;Integrated Security=False;"/>-->
	    
</appSettings>
