@model DocumentViewModel
@using CC.Core.Html.CCUI
@using KnowYourTurf.Web
@using KnowYourTurf.Web.Controllers
@{
    Layout = Model.Popup ? "~/Views/Shared/_popupLayout.cshtml" : "~/Views/Shared/_FormLayout.cshtml";
}

<div class="row">
    @Html.SubmissionFor(x => x.Name).Size("5").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.Description).Size("10").ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.DocumentCategoryEntityId).Size("5").LabelDisplay(WebLocalizationKeys.DOCUMENT_CATEGORY).ToHtmlTag()
</div>
<div class="row">
    @Html.SubmissionFor(x => x.FileUrl).Size("10").LabelDisplay(WebLocalizationKeys.DOCUMENT).ToHtmlTag() 
</div>

