@model ListViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }

@section HeaderJavascript{
    $(document).ready(function(){
        new kyt.CrudController(gridControllerOptions);
    });
}
@section ExtraContentHeaderButtons{
    <button class="delete" title="@WebLocalizationKeys.REMOVE"></button>
        <button id="new" class="new" title="@WebLocalizationKeys.NEW"></button>
}
<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
