@model ListViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@section HeaderScripts{
}
@section HeaderJavascript{
    $(document).ready(function(){
        new kyt.AddUpdateListController(gridControllerOptions);
    });
}

@section ExtraContentHeaderButtons{
        <button id="new" class="new" title="@WebLocalizationKeys.NEW"></button>
}
<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
