@model ListViewModel
@using KnowYourTurf.Core
@using KnowYourTurf.Web
@using HtmlTags

@{ Layout = "~/Views/Shared/_listLayout.cshtml"; }
@section HeaderJavascript{
    $(document).ready(function(){
        gridControllerOptions.id="field";
        new kyt.CrudController(gridControllerOptions);
    });
}
<input type="hidden" id="ParentId" name="ParentId" value="@Model.ParentId"/>
<div class="KYT_gridbreak">
</div>
<table id="gridContainer" class="scroll"></table>
<div id="pager" class="scroll" style="text-align:center;"></div>
