
input, textarea, .uneditable-input {
    width: 100%;
}

label, input, button, select, textarea {
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    color: #666666;
}


input,
button,
select,
textarea {
    font-family: helvetica,sans-serif;
}

label {
    display: block;
    margin-bottom: 2;
}


.select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #838383;
    display: inline-block;
    font-size: 13px;
    height: 25px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

/* textarea without height*/
textarea{
    border-radius: 4px 4px 4px 4px;
    color: #838383;
    display: inline-block;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
}

select {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    width: 100%;
}

.stdTxtColor{
    color:#666666;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: Verdana,Arial,sans-serif;
    font-size: 12px;
}

#colorPickerInput{
    width: 100px;
}

.blank{
    height: 20px;
}

.ml2{
    margin-left: 2px;
}

.fc-header-title {
    display: inline-block;
    vertical-align: top;
    font-size: 9pt !important;
}

.fc-header .fc-button {
    margin: 4px 0;
    vertical-align: top;
}

/*.rbroundbox { background: url(nt.gif) repeat; }*/
/*.rbtop div { background: url(tl.gif) no-repeat top left; }*/
/*.rbtop { background: url(tr.gif) no-repeat top right; }*/
/*.rbbot div { background: url(bl.gif) no-repeat bottom left; }*/
/*.rbbot { background: url(br.gif) no-repeat bottom right; }*/

/* height and width stuff, width not really nessisary. */
/*.rbtop div, .rbtop, .rbbot div, .rbbot {*/
/*width: 100%;*/
/*height: 7px;*/
/*font-size: 1px;*/
/*}*/
/*.rbcontent { margin: 0 7px; }*/
/*.rbroundbox { width: 50%; margin: 1em auto; }*/


/*table.BillInfo*/
/*{*/
    /*margin: 10px 10px 10px 40px;*/
    /*text-align: center;*/
    /*font-family: Verdana;*/
    /*font-weight: normal;*/
    /*font-size: 11px;*/
    /*color: #404040;*/
    /*width: 360px;*/
    /*background-color: #CCCCCC;*/
    /*border: 1px #0c3466 solid;*/
    /*border-collapse: collapse;*/
    /*border-spacing: 0px;*/
/*}*/

/*td.sumalert*/
/*{*/
    /*border-bottom: 1px #6699CC dotted;*/
    /*text-align: left;*/
    /*background-color: #FFFFFF;*/
    /*padding-top: 4px;*/
    /*padding-bottom: 4px;*/
    /*padding-left: 94px;*/
    /*padding-right: 0px;*/
    /*vertical-align: middle;*/
/*}*/


/*td.contact*/
/*{*/
    /*border-bottom: 1px #6699CC dotted;*/
    /*text-align: left;*/
    /*font-family: Verdana, sans-serif, Arial;*/
    /*font-weight: normal;*/
    /*font-size: .9em;*/
    /*color: #000000;*/
    /*background-color: #E1E1E1;*/
    /*padding-top: 4px;*/
    /*padding-bottom: 4px;*/
    /*padding-left: 8px;*/
    /*padding-right: 0px;*/
/*}*/

/*td.header*/
/*{*/
    /*text-align: left;*/
    /*font-family: 'Trebuchet MS';*/
    /*font-weight: bold;*/
    /*font-size: 24px;*/
    /*color: #FFFFFF;*/
    /*background-color: #000066;*/
   /* padding-top: 0px;*/
    /*padding-bottom: 0px;*/
    /*padding-left: 8px;*/
    /*padding-right: 0px;*/
    /*background-image: url('images/bill-head.gif');*/
    /*vertical-align: middle;*/
/*}*/
