/* Styles for jQuery menu widget
Author:	Maggie Wachs, maggie@filamentgroup.com
Date:		September 2008
*/


/* REQUIRED STYLES - the menus will only render correctly with these rules */	

.kyt_menuContainer {
    font-size:12px;
    border:none;
}


.fg-menu-container { position: absolute; top:0; left:-999px; padding: .4em;  overflow: hidden;  height:90% }
.fg-menu-container.fg-menu-flyout { overflow: visible; }

.fg-menu, .fg-menu ul { list-style-type:none; padding: 0; margin:0; }

.fg-menu { position:relative; }
.fg-menu-flyout .fg-menu { position:static; }

.fg-menu ul { position:absolute; top:0; }
.fg-menu ul ul { top:-1px; }

.fg-menu-container.fg-menu-ipod .fg-menu-content, 
.fg-menu-container.fg-menu-ipod .fg-menu-content ul { background: none !important; }

.fg-menu.fg-menu-scroll,

.fg-menu ul.fg-menu-scroll { overflow: hidden; }

.fg-menu li { clear:both; width: 100%; float:left; margin: 0; padding:0; border: 0; } 
.fg-menu li li { font-size:1em; } /* inner li font size must be reset so that they don't blow up */

.fg-menu-flyout ul ul { padding: .4em; }
.fg-menu-flyout li { position:relative; }

.fg-menu-scroll { overflow: scroll; overflow-x: hidden; }

.fg-menu-breadcrumb {
    /* margin: 0; padding: 0; */
    -moz-border-radius: 3px 3px 3px 3px;
    background: url("../images/left-nav-title.png") repeat-x scroll 0 0 #71A8C2;
    border-top: 1px solid #CADEE8;
    margin: 10px 0 0 5px;
    padding: 4px 2px 4px 6px;
    /*width: 192px;*/
    width: 90%;
    height:auto;
    display:none;
}

.fg-menu-footer {  margin-top: .4em; padding: .4em; }
.fg-menu-header {  margin-bottom: 0; padding: .4em; }

.fg-menu-breadcrumb li { float: left; list-style: none; margin: 0; padding: 0 .2em; font-size: .9em; opacity: .7; }
.fg-menu-breadcrumb li.fg-menu-prev-list,
.fg-menu-breadcrumb li.fg-menu-current-crumb { clear: left; float: none; opacity: 1; }
.fg-menu-breadcrumb li.fg-menu-current-crumb { padding-top: 0; }

.fg-menu-breadcrumb a, 
.fg-menu-breadcrumb span { 
    float: left; 
    color: #457495;
    font-size: 1em;
    font-weight: bold;
}

.fg-menu-footer a:link,
.fg-menu-footer a:visited { float:left; width:100%; text-decoration: none; }
.fg-menu-footer a:hover,
.fg-menu-footer a:active {  }

.fg-menu-footer a span { float:left; cursor: pointer; }

.fg-menu-breadcrumb .fg-menu-prev-list a:link,
.fg-menu-breadcrumb .fg-menu-prev-list a:visited,
.fg-menu-breadcrumb .fg-menu-prev-list a:hover,
.fg-menu-breadcrumb .fg-menu-prev-list a:active { background-image: none; text-decoration:none; }

.fg-menu-breadcrumb .fg-menu-prev-list a { float: left; padding-right: .4em; }
.fg-menu-breadcrumb .fg-menu-prev-list a .ui-icon { float: left; }

.fg-menu-breadcrumb .fg-menu-current-crumb a:link,
.fg-menu-breadcrumb .fg-menu-current-crumb a:visited,
.fg-menu-breadcrumb .fg-menu-current-crumb a:hover,
.fg-menu-breadcrumb .fg-menu-current-crumb a:active { 
    display:block; background-image:none; font-size:1.3em; text-decoration:none; 
    color:#FFFFFF;
}



/* REQUIRED LINK STYLES: links are "display:block" by default; if the menu options are split into 
        selectable node links and 'next' links, the script floats the node links left and floats the 'next' links to the right	*/

/* 
.fg-menu a:link,
.fg-menu a:visited,
.fg-menu a:hover,
.fg-menu a:active { float:left; width:92%; padding:.3em 3%; text-decoration:none; outline: 0 !important;  line-height: 21px; }
*/


.fg-menu a:link ,
.fg-menu a:visited,
.fg-menu a:hover,
.fg-menu a:active 
	{ float:left; width:92%; padding:.3em 3%; text-decoration:none; outline: 0 !important;  line-height: 21px; }



.fg-menu a { border: 1px dashed transparent; }

.fg-menu a.ui-state-default:link,
.fg-menu a.ui-state-default:visited,
.fg-menu a.ui-state-default:hover,
.fg-menu a.ui-state-default:active,
.fg-menu a.ui-state-hover:link,
.fg-menu a.ui-state-hover:visited,
.fg-menu a.ui-state-hover:hover,
.fg-menu a.ui-state-hover:active,
.fg-menu a.ui-state-active:link,
.fg-menu a.ui-state-active:visited,
.fg-menu a.ui-state-active:hover,
.fg-menu a.ui-state-active:active { border-style: solid; font-weight: normal; }
#left-navigation ul.fg-menu li a.ui-state-active { background-color: #D7E6ED !important; }

.fg-menu a span { display:block; cursor:pointer; }


/* SUGGESTED STYLES - for use with jQuery UI Themeroller CSS */	

.fg-menu-indicator span { float:left; }
.fg-menu-indicator span.ui-icon { float: right; }

.fg-menu-content.ui-widget-content, 
.fg-menu-content ul.ui-widget-content { border:0; }


/* ICONS AND DIVIDERS */

.fg-menu.fg-menu-has-icons a:link,
.fg-menu.fg-menu-has-icons a:visited,
.fg-menu.fg-menu-has-icons a:hover,
.fg-menu.fg-menu-has-icons a:active { padding-left:20px;}

.fg-menu .horizontal-divider hr, .fg-menu .horizontal-divider span { padding:0; margin:5px .6em; }
.fg-menu .horizontal-divider hr { border:0; height:1px; }
.fg-menu .horizontal-divider span { font-size:.9em; text-transform: uppercase; padding-left:.2em; }


.fg-menu a {
    -moz-border-radius:0;
    border-radius:0;
    color: 457596;

}

.fg-menu a:hover { 	 
    background: none repeat scroll 0 0 #D7E6ED !important;
    border: 0px none transparent !important;
    color: #457596;
 }



.kyt_menuContainer .ui-state-active, .kyt_menuContainer  .ui-widget-content .ui-state-active, .kyt_menuContainer .ui-widget-header .ui-state-active { 
    background: none repeat scroll 0 0 #D7E6ED !important;
    border:none !important;
    padding-bottom: 5px;
    color: #457596;
}

.kyt_menuContainer a:hover  .ui-icon {
    margin-top: 1px;
}


.fg-menu-indicator {
    background:transparent !important;

}


#left-navigation ul li.portfolios>a 
	, #left-navigation ul li.repository>a
	, #left-navigation ul li.tools>a 
	{
    /*padding-left: 25px !important;*/
    line-height: 21px;
    width:92%; /*  change to perc  */
}



#left-navigation ul li.portfolios>a   {
    /*background: url('../images/briefcase.png') no-repeat scroll 0 5px transparent !important;*/
}

#left-navigation ul li.repository>a  {
    /*background: url('../images/folder.png') no-repeat scroll 0 5px transparent !important;*/
}

#left-navigation ul li.assets>a {
    /*background: url('../images/cogwheel.png') no-repeat scroll 0 5px  transparent !important;*/
}

#left-navigation ul li.tools>a {
    /*background: url('../images/tools.png') no-repeat scroll 0 5px transparent !important;*/
}

#left-navigation ul li.portfolios>a:hover  {
    /*background: url('../images/briefcase.png') no-repeat scroll 0 5px #D7E6ED !important;*/
}

#left-navigation ul li.repository>a:hover {
    /*background: url('../images/folder.png') no-repeat scroll 0 5px #D7E6ED !important;*/
}

#left-navigation ul li.assets>a:hover {
    /*background: url('../images/cogwheel.png') no-repeat scroll 0 5px  #D7E6ED !important;*/
}

#left-navigation ul li.tools>a:hover {
    /*background: url('../images/tools.png') no-repeat scroll 0 5px #D7E6ED !important;*/
}

#left-navigation ul li.portfolios>a:hover .ui-icon 
	, #left-navigation ul li.repository>a:hover .ui-icon 
	, #left-navigation ul li.assets>a:hover .ui-icon 
	, #left-navigation ul li.tools>a:hover .ui-icon 
	{
    margin-top:0;
}



/* 
extra

#left-navigation ul li 
	{
	width: 100%;
}

one leveld deeper 
#left-navigation ul li li
	{
	width: 102%;
}

#left-navigation ul li a:active
 {  width: 95%}

#left-navigation ul li a:hover
 {  width: 91%}



*/







#left-navigation .ui-widget-content {
    border:none;
    background: transparent;
    margin-left:2px;
    margin-top:8px;
}

#left-navigation .kyt_menuContainer .fg-menu-breadcrumb .ui-icon {
    background: url("../images/left-nav-separator-icon.png") no-repeat scroll 6px 3px transparent;
}

#left-navigation .fg-menu li.separator {
    border-top: 1px solid #CCCCCC;
    margin: 10px 0 0 -4px;
    /*width: 208px;*/

}

#left-navigation .ui-widget-content .ui-icon {
    background: url("../images/button-v-right.png") no-repeat scroll 0 0 transparent;
}

#left-navigation .ui-widget-content li span.status {
    color: #CCCCCC;
    float: right;
    margin-right: 4px;
}
/*************** DEVINDA START **********/
#left-navigation .ash-text{color: #CCCCCC;}
#left-navigation .two-third{width:60%;}
#left-navigation .one-third{width:25%;}
/*************** DEVINDA END **********/