.raif{ width:300px; height:300px;}

div.fieldRow textarea
	{ height: 45px;
	overflow: auto; }
 div.fieldRow textarea.medium
	{ height: 90px	;
	  overflow: auto; }
 div.fieldRow textarea.large
		{ height: 180px	;
	  overflow: auto; }

/******  FORMS  *******/
 div.-scroll-wrapper {
    padding-top: 12px;
}

 div.-scroll-inner {
    height: 480px;
    overflow-y: auto;
}

 div.col {
    width: 335px;
    padding: 10px 20px;
    display: block;
}

 div.top {
    padding-top: 0;
    display: block;
}

 div.footer {
    display: block;
    clear: both;
    padding: 10px 0 10px 30px;
}

 div.left {
    float: left;
}

 div.right {
    float: left;
}

 div.full {
    width: 710px;
    padding: 10px 0 10px 20px;
}

 div.fieldRow {
    font-size: 13px;
    color: #666666;
    display: block;
    margin: 8px 10px;
    overflow: hidden;
}

 div.fieldRow label {
    width: 100%;
    margin-bottom: 4px;
    display: block;
}

 div.fieldRow label.small {
    font-size: 0.7em;
}

 div.fieldRow a {
    color: #666666;
    text-decoration: underline;
}

 div.fieldRow .checkbox .editor_label label {
    float: left;
    line-height: 25px;
    margin: 16px 7px 0 7px;
    width: auto;
}

 div.fieldRow div.one-quarter {
    margin-left: 2%;
    width: 23%;
    float: left;
}

 div.fieldRow div.one-third {
    margin-left: 2%;
    width: 31%;
    float: left;
}

 div.fieldRow div.half {
    margin-left: 2%;
    width: 48%;
    float: left;
}

 div.fieldRow div.two-thirds {
    margin-left: 2%;
    width: 64%;
    float: left;
}

 div.fieldRow div.three-quarters {
    margin-left: 2%;
    width: 73%;
    float: left;
}

 div.fieldRow div.first {
    margin-left: 0;
    margin-right: 2%;
}

 div.fieldRow input, div.fieldRow select {
    width: 100%;
    height: 25px;
    color: #838383;
    padding: 2px;
}

 div.fieldRow  textarea {
    width: 100%;
    color: #838383;
    font-size: 100%;
    padding: 2px;
}

 div.fieldRow .checkbox .editor_input input {
    float: left;
    width: 12px;
    margin-top: 16px;
}

 div.fieldRow input.num, div.fieldRow input.money {
    width: 40%;
}

 div.fieldRow input.password {
    font-size: 11px;
}

 label.section {
    color: #457596;
    background: url('../images/button-v.png') no-repeat;
    padding-left: 25px;
    height: 21px;
    font-weight: bold;
    font-size: 13px;
}

 .section-divider {
    width: 710px;
    display: block;
    clear: both;
    padding: 0 0 0 20px;
}

 .section-divider label.section {
    margin-left: 10px;
}

 .footer button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}

 button.save {
    background: url("../images/button-save-bg.png") repeat-x scroll 0 0 #CCCCCC;
    border: 1px solid #B7D6DE;
    height: 27px;
    width: 80px;
    color: #437182;
}
button.saveNotFixed {
    background: url("../images/button-save-bg.png") repeat-x scroll 0 0 #CCCCCC;
    border: 1px solid #B7D6DE;
    height: 27px;
    color: #437182;
}

 button.cancel {
    background: url("../images/button-cancel-bg.png") repeat-x scroll 0 0 #CCCCCC;
    border: 1px solid #dfdfdf;
    height: 27px;
    width: 80px;
    color: #8F8F8F;
}

 button.save:hover {
    background: url("../images/button-save-bg-hover.png") repeat-x scroll 0 0 #CCCCCC;
}
button.saveNotFixed:hover {
    background: url("../images/button-save-bg-hover.png") repeat-x scroll 0 0 #CCCCCC;
}

 button.cancel:hover {
    background: url("../images/button-cancel-bg-hover.png") repeat-x scroll 0 0 #CCCCCC;
}

button.save:active {
   background: url("../images/button-save-bg-active.png") repeat-x scroll 0 0 #CCCCCC;
   -webkit-box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
   -moz-box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
   box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
   }
button.saveNotFixed:active {
   background: url("../images/button-save-bg-active.png") repeat-x scroll 0 0 #CCCCCC;
   -webkit-box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
   -moz-box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
   box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
   }

 button.cancel:active {
    background: url("../images/button-cancel-bg-active.png") repeat-x scroll 0 0 #CCCCCC;
}

  .artifact-field .editor_root,   .artifact-field .editor_label,   .artifact-field .editor_input {
    width:100%;
}


 div.fieldRow div.one-five {
    width: 20%;
    float: left;
    margin-left: 2%;
}

 div.fieldRow div.two-five {
    width: 38%;
    float: left;
}

div.fieldRow div.three-five {
    width: 54%;
    float: left;
}

 div.fieldRow div.mid {
    margin: 0;
}

 div.fieldRow div.last {
    margin: 0 0 0 2%;
}

div.footer div.col {
    padding: 10px 20px 10px 0;
}

#portfolios #main-header ul#main-tabs li.selected {
    background: white;
    border-top: medium none;
    height: 33px;
}

#portfolios #main-header ul#main-tabs li.selected a {
    color: #333333;
    text-shadow: -1px -1px 1px #DDDDDD;
}

.headShotImage img{
    width: 80px;
}

#ajaxLoading {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 50%;
    top: 50%;
    background: url(../images/ajax-loader.gif);
}

.ui-jqgrid .loading {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 50%;
    top: 50%;
    background: url(../images/ajax-loader.gif);
}


/*********** Overrides to make menu wider ********************/

#left-navigation {
    width: 222px;
}

#main-content {
    margin: 10px 16px 0 222px;
}

.ui-icon {
	 width: 17px; 
	 height: 17px;
}

/************************/
.KYT_view_label{
    float: left;
    font-weight: bold;
    padding-right: 8px;
}

.gridHeader{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}