.row textarea {
    /*height: 45px;*/
    overflow: auto;
}
.row textarea.medium {
    height: 90px;
    overflow: auto;
}
.row textarea.large {
    height: 180px;
    overflow: auto;
}
/******  FORMS  *******/

 div.footer {
    display: block;
    clear: both;
    padding: 10px 0 10px 30px;
}

 div.left {
    float: left;
}

 div.right {
    float: left;
}

button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 5px;
}
button.save {
    background: url("../images/button-save-bg.png") repeat-x scroll 0 0 #CCCCCC;
    border: 1px solid #B7D6DE;
    height: 27px;
    width: 80px;
    color: #437182;
}
button.cancel {
    background: url("../images/button-cancel-bg.png") repeat-x scroll 0 0 #CCCCCC;
    border: 1px solid #dfdfdf;
    height: 27px;
    width: 80px;
    color: #8F8F8F;
}
button.save:hover {
    background: url("../images/button-save-bg-hover.png") repeat-x scroll 0 0 #CCCCCC;
}
button.cancel:hover {
    background: url("../images/button-cancel-bg-hover.png") repeat-x scroll 0 0 #CCCCCC;
}
button.save:active {
    background: url("../images/button-save-bg-active.png") repeat-x scroll 0 0 #CCCCCC;
    -webkit-box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
    -moz-box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
    box-shadow: inset 2px 2px 12px 2px rgba(66, 66, 66, 0.3);
}
button.cancel:active {
    background: url("../images/button-cancel-bg-active.png") repeat-x scroll 0 0 #CCCCCC;
}

#ajaxLoading {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 50%;
    top: 50%;
    background: url(../images/ajax-loader.gif);
}

.ui-jqgrid .loading {
    position: absolute;
    height: 30px;
    width: 30px;
    left: 50%;
    top: 50%;
    background: url(../images/ajax-loader.gif);
}


/*********** Overrides to make menu wider ********************/

#left-navigation {
    width: 222px;
}

#main-content {
    margin: 10px 16px 0 222px;
}

.ui-icon {
	 width: 17px; 
	 height: 17px;
}

/************************/
.view_label{
    float: left;
    font-weight: bold;
    padding-right: 8px;
}

.gridHeader{
    color: #666666;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

