* {margin:0; padding:0;}

body {
    height:100%;
    background-color: #F2F2F2;
    margin: 0;
    font-family: helvetica,sans-serif;
    font-size: 14px;
}
li {
    list-style:none;
}
hr {
    margin: 10px 0;
    border-top: 1px solid #CCCCCC;
    border-bottom: none;
    border-left: none;
    border-right: none;
}

#main-header {
    background: url(../images/header-title_transparent.png)
				no-repeat 
				scroll 
				top 
				left
				#333333;
    height: 71px;
    min-width: 870px;
    display: block;
    position: relative;
}
.deleteImage
{
    vertical-align: bottom;
    padding: 0 10px;
    margin-left: 10px;
}
/*******   HEADER TABS ********/

#login-links {
    position: absolute;
    right: 16px;
    top: 5px;
}

#login-links  a {
    border-left: 1px solid #F6F6F6;
    color: white;
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    padding: 0 3px 0 5px;
    text-decoration: none;
}

#login-links .first:hover {
    background: #a5c8d8 !important;
    color: #467697 !important;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
}
span#login-links a.first {
    background: #407397;
    color: #ffffff !important;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
    -webkit-border--radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}
span#login-links a.active {
    background: white;
    color: #333333 !important;
    border-radius: 5px;
    padding-bottom: 2px;
    padding-right: 5px;
    -webkit-border--radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

#login-links  a.first {
    border-left: none;
}

#main-body {
    background: url(../images/main-content.png) repeat-x scroll top left
        #f2f2f2;
    border-top: 1px solid #e5e5e5;
    margin: 0;
    min-height: 500px;
}

#top-separator {
    height: 7px;
    display: block;
    background: white;
}

.clear {
    clear: both;
}

/******  LEFT NAVIGATION  *******/
#left-navigation {
    float: left;
    /*width: 205px;*/
}

#left-navigation hr,form hr {
    color: #ccc;
}

/******  MAIN CONTENT WRAPPERS  *******/
#main-content {
    margin: 10px 16px 0 205px;
}

.content-outer {
    width: 100%;
}

.content-outer .content-inner {
    min-height: 400px;
    background: white;
    padding-bottom: 3px;
    position: relative;
	overflow:hidden;
	border: 1px solid #D9D9D9;
}

.content-inner .form
{
    padding: 0 0 3px 20px !important;
}

.content-inner .calendar
{
    padding: 0 0 3px 0px !important;
}

.content-inner .report
{
    padding: 10px 0 3px 20px !important;
}

.content-outer .content-footer {
    height: 17px;
    width: 100%;
    background: url(../images/footer-shadow-left.png) no-repeat scroll 0 0
        transparent;
}

.content-outer .content-footer span {
    background: url(../images/footer-shadow-right.png) no-repeat scroll 0 0
        transparent;
    width: 307px;
    height: 17px;
    float: right;
}

/******  MAIN CONTENT HEADER  *******/
.content-outer .content-header {
    width: 100%;
    height: 41px;
    background: url(../images/content-header-silver.png) repeat-x scroll 0 0
        transparent;
    position: relative;
}

.content-outer .content-header .search {
    background: url(../images/search-bg.png) no-repeat scroll 0 0
        transparent;
    width: 178px;
    height: 25px;
    position: absolute;
    right: 20px;
    top: 8px;
    border: none;
    padding: 0 25px 0 30px;
    font-size: 12px;
}

.content-outer .content-header .clear-search {
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 25px;
    top: 12px;
    width: 16px;
    z-index: 1000;
    display:none;
}

.content-outer .content-header .close {
    background: url(../images/close-x.png) no-repeat scroll 0 0 transparent;
    width: 14px;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 5px;
    border: none;
    cursor: pointer;
}

.content-outer .content-header select {
    float: left;
    height: 23px;
    width: 140px;
    margin: 8px 10px 0 6px;
    padding: 2px;
}

.content-outer .content-header button {
    filter: progid :       DXImageTransform.Microsoft.gradient (  
        startColorstr =  
        '#f9f9f9', endColorstr =       '#e9e9e9', GradientType =       0 );
    /* IE6-9 */
    background: linear-gradient(top, #f9f9f9 0%, #e9e9e9 100%); /* W3C */
    font-weight: bold;
    display: block;
    width: 29px;
    height: 23px;
    padding: 0;
    border: 1px solid #c6c6c6;
    float: left;
    -webkit-border--radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 8px 0 0 6px;
}

.content-outer .content-header button.delete {
    background: url(../images/icon-header-delete.png) no-repeat scroll 0 0
        transparent;
}

.content-outer .content-header button.new {
    background: url(../images/icon-header-plus.png) no-repeat scroll 0 0
        transparent;
}

.content-outer .content-header button.print {
    background: url(../images/icon-header-print.png) no-repeat scroll 0 0
        transparent;
}
.content-outer .content-header button.arrow {
    background: url(../images/icon-header-arrow.png) no-repeat scroll 0 0
        transparent;
}

.content-outer .content-header button.mail {
    background: url(../images/icon-header-mail.png) no-repeat scroll 0 0
        transparent;
}
.content-outer .content-header button.download {
    background: url(../images/icon-header-down.png) no-repeat scroll 0 0
        transparent;
}

.content-outer .content-header button.img {
    background: url(../images/icon-header-img.png) no-repeat scroll
        0 0 transparent;
}
/******  HOVER STATE  ******/

.content-outer .content-header button.delete:hover {
    background: url(../images/icon-header-delete.png) no-repeat scroll 0 -23px
        transparent;
}

.content-outer .content-header button.new:hover {
    background: url(../images/icon-header-plus.png) no-repeat scroll 0 -23px
        transparent;
}

.content-outer .content-header button.print:hover {
    background: url(../images/icon-header-print.png) no-repeat scroll 0 -23px
        transparent;
}

.content-outer .content-header button.arrow:hover {
    background: url(../images/icon-header-arrow.png) no-repeat scroll 0 -23px transparent;
}

.content-outer .content-header button.mail:hover {
    background: url(../images/icon-header-mail.png) no-repeat scroll 0 -23px transparent;
}

.content-outer .content-header button.download:hover {
    background: url(../images/icon-header-down.png) no-repeat scroll 0 -23px transparent;
}

.content-outer .content-header button.img:hover {
    background: url(../images/icon-header-img.png) no-repeat scroll 0 -23px transparent;
}

.content-outer .content-header button.delete:active {
    background: url(../images/icon-header-delete.png) no-repeat scroll 0 -46px
        transparent;
}

.content-outer .content-header button.new:active {
    background: url(../images/icon-header-plus.png) no-repeat scroll 0 -46px
        transparent;
}

.content-outer .content-header button.print:active {
    background: url(../images/icon-header-print.png) no-repeat scroll 0 -46px
        transparent;
}
.content-outer .content-header button.arrow:active {
    background: url(../images/icon-header-arrow.png) no-repeat scroll 0 -46px transparent;
}

.content-outer .content-header button.mail:active {
    background: url(../images/icon-header-mail.png) no-repeat scroll 0 -46px transparent;
}

.content-outer .content-header button.download:active {
    background: url(../images/icon-header-down.png) no-repeat scroll 0 -46px transparent;
}

.content-outer .content-header button.img:active {
    background: url(../images/icon-header-img.png) no-repeat scroll	0 -46px transparent;
}

.content-outer .content-header span {
    display: block;
    text-align: center;
    /*width: 42%;
    margin: 0 29%;*/
	/* To prevent these from covering the buttons */
	width: 30%;
	margin: 0 35%;

}

.content-outer .content-header .title-name {
    padding: 5px 0 0;
    color: #666666;
    font-size: 1em;
    position: absolute;
    top: 0;
}

.content-outer .content-header .title-added {
    color: #999999;
    font-size: 0.8em;
    position: absolute;
    top: 23px;
}

.required_style {
    color: #666666;
    display: block;
    font-size: 9px;
    font-style: italic;
    height: 18px;
    padding: 0;
    text-align: right;
    width: 100%;
}

.required_style span {
    display: block;
    padding: 5px 20px;
}


.norequired .required_style {
    display: none;
}

div.form-scroll-inner {
    overflow-y: auto;
    overflow-x: hidden;
}

/*******   SIGN-IN PAGE   *******/
body#signin {
    background: url("../images/bg-signin.png") repeat scroll 0 0 #F6F6F6;
    height: 100%;
    width: 100%;
    color: #666;
}

#signin #outer-wrapper {
    height: 100%;
    position: relative;
}

#signin .content-outer {
    height: 420px;
    margin: -210px auto auto;
    position: relative;
    top: 50%;
    width: 385px;
}

#signin .content-inner {
   /* height: 320px; */
    min-height: 320px;
}

#signin .content-header {
    background: url("../images/bg-header-signin.png") no-repeat scroll 0 0
        #8eb9ce;
    height: 73px;
}

#signin input {
    width: 280px;
    height: 25px;
}

#signin .form{
    padding: 10px 0 3px 30px !important;
}

#signin .big {
    display: block;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0px;
}

#signin div.fieldRow label.checkbox {
    /*width: 80%;*/
}

#signin .footer a {
    text-decoration: none;
    color: #507d9c;
    font-size: 12px;
    margin-left: 16px;
}

.signin div.editor_input input {
	color: #666;
	font-family: helvetica,sans-serif;
	font-size: 13px;
}

.signin button.save {
	padding-bottom: 2px;
}

* html .signin button.save {
	padding-bottom: 0px;
}

/*******   JQUERY UI DIALOG EXTENSIONS  **********/
div.ui-dialog {
    padding: 0;
}

.ui-draggable .ui-dialog-titlebar {
    background: url("../images/bg-header-dialog.png") repeat-x scroll 0 0
        transparent;
    height: 38px;
    padding: 0;
    position: relative;
}

.ui-draggable .ui-dialog-titlebar span.ui-dialog-title {
    clear: both;
    color: white;
    font-family: sans-serif;
    font-size: 16px;
    position: absolute;
    text-align: center;
    top: 6px;
    width: 100%;
}

/*.ui-widget-header .ui-icon {*/
    /*background: url("../images/close-dialog.png");*/
/*}*/

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: none; }

.ui-dialog .ui-dialog-buttonpane button {
	font-size:12px;
}

/*******   JQUERY jqGrid EXTENSIONS  **********/
.ui-jqgrid .ui-jqgrid-htable th div {
    text-align: left;
    padding-left: 10px;
}

.ui-jqgrid .ui-jqgrid-htable th:first-child div {
    padding-left: 3px;
}

.ui-jqgrid-htable th  #jqgh_cb {
    padding-left: 0;
    margin: 3px;
}

.ui-jqgrid tr.ui-row-ltr td.jqg_cb {
    padding-left: 0;
}

.ui-jqgrid .ui-jqgrid-htable th div#jqgh_thumb {
    padding: 0;
    text-align: center;
}

/******  JQGRID EXTENSION  *******/
#gbox_Grid {
    border-bottom: none;
}

#gview_Grid .ui-jqgrid-bdiv {
    overflow-x: hidden;
    overflow-y: auto;
}

.ui-jqgrid .ui-jqgrid-btable {
    margin: 0;
    outline-style: none;
    /*table-layout: fixed;*/
    table-layout: auto;
}

.ui-jqgrid tr.jqgrow td {
    white-space: nowrap;
}

.ui-jqgrid tr.ui-row-ltr td {
    font-family: verdana;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid #e4e4e4;
    color: #666666;
    height: 28px;
    font-size: 11px;
    padding-left:12px;
}

.ui-jqgrid tr.ui-row-ltr td.dc_jqg_cb {
    padding-left:0;
}


.ui-jqgrid tr.ui-row-ltr td a {
    color: #447292;
    text-decoration: none;
    cursor: pointer;
}

.ui-jqgrid .ui-jqgrid-htable th {
    height: 28px;
}

.ui-th-ltr,.ui-jqgrid .ui-jqgrid-htable th {
    font-size: 11px;
}

.ui-th-ltr,.ui-jqgrid .ui-jqgrid-htable th.ui-th-ltr {
    background: url(../images/header-silver.png) repeat-x scroll 0 0 #eeeeee;
}

.ui-jqgrid .ui-jqgrid-htable th.is-sorted {
    background: #e2e2e2;
    -webkit-box-shadow: inset 3px 3px 12px 1px rgba(204, 204, 204, 1);
    -moz-box-shadow: inset 3px 3px 12px 1px rgba(204, 204, 204, 1);
    box-shadow: inset 3px 3px 12px 1px rgba(204, 204, 204, 1);
}

.ui-jqgrid .ui-jqgrid-htable th.is-sorted {
    background: #e2e2e2;
    -webkit-box-shadow: inset 3px 3px 12px 1px rgba(204, 204, 204, 1);
    -moz-box-shadow: inset 3px 3px 12px 1px rgba(204, 204, 204, 1);
    box-shadow: inset 3px 3px 12px 1px rgba(204, 204, 204, 1);
}

.ui-jqgrid tr.ui-priority-secondary {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity =       100);
    -moz-opacity: 1;
    opacity: 1;
}

.ui-jqgrid tr.ui-priority-secondary td {
    background: #f6f6f6;
    color: #666666;
}

.ui-jqgrid tr.ui-state-hover td {
    background: #fae8b3; /* Old browsers */
    background: -moz-linear-gradient(top, #fae8b3 0%, #f9e1a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fae8b3),
    color-stop(100%, #f9e1a0) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fae8b3 0%, #f9e1a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fae8b3 0%, #f9e1a0 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fae8b3 0%, #f9e1a0 100%);
    /* IE10+ */
    filter: progid :       DXImageTransform.Microsoft.gradient (
    startColorstr =
    '#fae8b3', endColorstr =       '#f9e1a0', GradientType =       0 );
    /* IE6-9 */
    background: linear-gradient(top, #fae8b3 0%, #f9e1a0 100%); /* W3C */
}

.ui-jqgrid tr.ui-state-highlight td {
    background: #fae8b3; /* Old browsers */
    background: -moz-linear-gradient(top, #fae8b3 0%, #f9e1a0 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fae8b3),
    color-stop(100%, #f9e1a0) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #fae8b3 0%, #f9e1a0 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #fae8b3 0%, #f9e1a0 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #fae8b3 0%, #f9e1a0 100%);
    /* IE10+ */
    filter: progid :       DXImageTransform.Microsoft.gradient (
    startColorstr =
    '#fae8b3', endColorstr =       '#f9e1a0', GradientType =       0 );
    /* IE6-9 */
    background: linear-gradient(top, #fae8b3 0%, #f9e1a0 100%); /* W3C */
}

.ui-jqgrid tr.jqgroup td {
    background: #fae8b3; /* Old browsers */
    background: -moz-linear-gradient(top, #e1e1e1 0%, #d7d7d7 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e1e1e1),
    color-stop(100%, #d7d7d7) ); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e1e1e1 0%, #d7d7d7 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e1e1e1 0%, #d7d7d7 100%);
    /* Opera11.10+ */
    background: -ms-linear-gradient(top, #e1e1e1 0%, #d7d7d7 100%);
    /* IE10+ */
    filter: progid :       DXImageTransform.Microsoft.gradient (
    startColorstr =
    '#e1e1e1', endColorstr =       '#d7d7d7', GradientType =       0 );
    /* IE6-9 */
    background: linear-gradient(top, #e1e1e1 0%, #d7d7d7 100%); /* W3C */
    font-weight: bold;
}

.ui-jqgrid .ui-jqgrid-htable th div span.camera-grid-header {
    width:29px;
    height: 20px;
    background: url(../images/icon-header-img.png) no-repeat scroll 0 -2px transparent;
    display:block;
}

#left-navigation ul li>a.float-right {
    float: right;
    font-size: 11px;
}

#left-navigation ul li>a.float-left {
    float: left;
}

#left-navigation ul li>a.small-font {
    font-size: 8px;
    color: #666666;
}

#left-navigation ul li hr {
    width: 100%;
    margin: 0px;
}

ul.token-input-list li{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

li.token-input-selected-token {
	background: #CAEFEB !important;
}

li.token-input-selected-token span.token-input-delete-token {
	color: #FFF !important;
}

div.token-input-dropdown li {
	margin-left: 0 !important;
	padding-left: 5px !important;
}

ul li.token-input-input-token {
    padding:0;
	margin:0;
	width: 100%;
}

.empty ul.token-input-list {
    display:none;
}

.nobuttons ul {
    margin-top: 0;
}

/* Calendar styles begins */
#ui-datepicker-div { font-size: 12px; }