
/*---------------------------------------------------*/
/*-----------------{Inherited Styles]----------------*/
/*---------------------------------------------------*/

 

/*---------------------------------------------------*/
/*-----------------[Global Elements]-----------------*/
/*---------------------------------------------------*/

body { font-family:"Lucida Grande", Arial, Helvetica, sans-serif; font-size:12px; line-height:16px; color:#333; background:#FFF; }

h1 { font-size:24px; }
h2 { font-size:18px; font-weight:bold; } 
h3 { font-size:16px; font-weight:bold; }
h4 { font-size:14px; }
h5 { font-size:12px; font-size; bold; }
h6 { font-size:10px; }
cite, em, i { font-style: italic; }
sup, sub { height: 0; line-height: 1; position: relative; vertical-align: baseline; }
sup { bottom: 0.8em; }
sub { top: 0.3em; }
input[type=text],input.text, input.title, textarea, select { border:1px solid #aaa; padding: 2px; color: #333; }
input[type=text]:focus, input.text:focus, input.title:focus, textarea:focus, select:focus { border-color:#aaa; color: #333; }
/*#background_layer { width:100%; background:url(../images/header_bg_repeatx.jpg) top left repeat-x; }*/
/* Link styles */
a { color: #36618d; text-decoration:none; cursor:pointer; }
a:hover { text-decoration:underline; cursor: pointer; }
/* Action links in the grid - View | Edit | Archive | Delete and Add New Links */
a.KYT_actionlink { font-size:11px; font-weight:bold; color:#333; }
a.KYT_actionlink:hover { cursor:pointer; text-decoration:none; }
/* White links - mainly based in the header */
a.KYT_whitelink { color:#FFF; text-decoration:none; }
a.KYT_whitelink:hover { text-decoration:underline; }


/* > Utility Classes
---------------------------------------------------- */

.KYT_width100 { width: 100%; }
.KYT_width75 { width: 75%; }
.KYT_width50 { width: 50%; }
.KYT_width25 { width: 25%; }
.KYT_float_left   { float:left; padding:2px; font-size:100%; margin:0em 0 .5em; color:White; background: url("images/ui-bg_glass_25_334b17_1x400.png") repeat-x scroll 50% 50% #334B17; width:100%;
   -moz-box-shadow:inset 0 0 8px #1a1a1a;
   -webkit-box-shadow:inset 0 0 8px #1a1a1a;
   box-shadow:inset 0 0 8px #1a1a1a;
   text-align:center;
   border-radius: 6px 6px 6px 6px; }
.KYT_float_right  { float:right; padding:2px; font-size:100%; margin:0em 0 .5em; color:White; background: url("images/ui-bg_glass_25_334b17_1x400.png") repeat-x scroll 50% 50% #334B17; width:60px;
   -moz-box-shadow:inset 0 0 8px #1a1a1a;
   -webkit-box-shadow:inset 0 0 8px #1a1a1a;
   box-shadow:inset 0 0 8px #1a1a1a;
   text-align:center;
   border-radius: 6px 6px 6px 6px; }
.KYT_display_none { display:none; }
.KYT_clear_left   { clear:left; }
.KYT_clear_right  { clear:right; }
.KYT_clear_both   { clear:both; }
.KYT_rounded-corners5 { -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; }
.KYT_rounded-corners4 { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; }
.KYT_rounded-corners3 { -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }
.KYT_lightgrey { color:#959aa2; }
.KYT_font11 { font-size:11px; }
.KYT_font10 { font-size:10px; }
.KYT_font9 { font-size:9px; }
.KYT_font8 { font-size:8px; }
.btn-2{padding:2px; font-size:100%; margin:0em 0 .5em; color:White; background: #1a1a1a  url(../images/ui-bgMarkGreyh2v2.png) repeat-x;}
/* > Marks Classes
---------------------------------------------------- */

.KYT_Save   { float:left; padding:2px; font-size:100%; margin:0em 0 .5em; background: url("images/ui-bg_glass_25_334b17_1x400.png") repeat-x scroll 50% 50% #334B17; width:100%;
   -moz-box-shadow:inset 0 0 8px #1a1a1a;
   -webkit-box-shadow:inset 0 0 8px #1a1a1a;
   box-shadow:inset 0 0 8px #1a1a1a;
   text-align:center;
   border-radius: 6px 6px 6px 6px; 
   color:White;}
.KYT_new_button  { padding:2px; font-size:100%; margin:0em 0 .5em; color:White; background: #000000 url(../images/ui-bgMarkGreyh2v2.png) repeat-x; }



/* > Form Elements
---------------------------------------------------- */

.KYT_Form { margin: 0; padding: 0; position: relative; } /* reset stuff */
  
  /* Some generals and more resets */
  .KYT_Form fieldset { border: none; margin: 0; padding: 0; }
    .KYT_Form fieldset legend { margin: 0; padding: 0; }
    
    /* This are the main units that contain form elements */
    .KYT_Form .KYT_ctrlHolder,
    .KYT_Form .KYT_buttonHolder { margin: 0; padding: 0; clear: both; }
    
    /* Clear all floats */ 
    .KYT_Form:after,
      .KYT_Form .KYT_buttonHolder:after, 
      .KYT_Form .KYT_ctrlHolder:after, 
        .KYT_Form .KYT_ctrlHolder .KYT_multiField:after,
          .KYT_Form .KYT_inlinelabel:after { content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; }
	  
	  /* Styling */
	  .KYT_Form .KYT_textInput,
	  .KYT_Form .KYT_fileUpload,
	  .KYT_Form select,
	  .KYT_Form textarea { float: left; margin:0; background:#FFF; border:1px solid #aaa; }
	  .KYT_Form .KYT_selectInput { background:none; border:none; } /* checkbox */
      .KYT_Form button { cursor: pointer; } 

/* ------------------------------------------------------------------------------ */
/* ##########################   DEFAULT LAYOUT   ################################ */
/* ------------------------------------------------------------------------------ */
/*       Styles for form controls where labels are above the input elements       */
/* ------------------------------------------------------------------------------ */

      .KYT_Form label, .KYT_Form .KYT_label { display: block; float: none; margin: 0 0 5px 0; padding: 0; line-height: 100%; width: auto; }
      
      /* Float the input elements */
      .KYT_Form .KYT_textInput,
      .KYT_Form .KYT_fileUpload,
      .KYT_Form .KYT_selectInput,
      .KYT_Form select,
      .KYT_Form textarea { float: left; margin: 0; }
         
      /* Postition the hints */
      .KYT_Form .KYT_formHint { float: right; margin: 0; clear: none; }
      
      /* Position the elements inside combo boxes (multiple inputs/selects/checkboxes/radio buttons per unit) */
      .KYT_Form ul { float: left; margin: 0; padding: 0; }
        .KYT_Form ul li { margin: 0 0 20px 0; list-style: none; }
          .KYT_Form ul li label { margin: 0; float: none; display: block; overflow: visible; }
        /* Alternate layout w/ inline labels */
        .KYT_Form ul.alternate li { float: left; margin-right: 5px; }
          .KYT_Form ul.alternate li label { float: none; display: block; }
            .KYT_Form ul .KYT_textInput,
            .KYT_Form ul .KYT_selectInput,
            .KYT_Form ul select,
            .KYT_Form ul.alternate .KYT_textInput,
            .KYT_Form ul.alternate .KYT_selectInput,
            .KYT_Form ul.alternate select { width: 98%; margin-top: 5px; display: block; float: none; }
            
        /* Required fields asterisk styling */
        .KYT_Form label em, .KYT_Form .KYT_label em { color:#ff5151; height: 0; line-height: 1; position: relative; vertical-align: baseline; }

/*  Validation Classes */

.KYT_errorMessages .KYT_invalid_field {
    display: inline-block !important; /* the !important is gross, but there's inline styles on that label */
    border: 2px solid #fbc2c4;
    background: #fBe3e4 url(../images/error-sprite.png) no-repeat 0px -24px;
    padding: 5px 5px 5px 26px;
    color: #8a1f11;
    font-style: italic;
    width:91%
}

.KYT_editor_input .KYT_invalid_field {
    display: inline-block !important; /* the !important is gross, but there's inline styles on that label */
    border: 2px solid #fbc2c4;
    background: #fBe3e4;
    padding: 2px 5px 2px 10px;
    color: #8a1f11;
    font-style: italic;
}

.KYT_errorMessages .KYT_valid_field {
    display: inline-block !important; /* the !important is gross, but there's inline styles on that label */
    border: 2px solid #cff9c0;
    color: #328a11;
    background:  #e7f9e0 url(../images/error-sprite.png) no-repeat -24px 0px;
     padding: 5px 5px 5px 26px;
    margin: 5px 10px;
    font-style: italic;
    width:91%
}

.KYT_editor_input .KYT_valid_field {
    display: inline-block !important; /* the !important is gross, but there's inline styles on that label */
    border: 2px solid #cff9c0;
    color: #328a11;
    background:  #e7f9e0;
    padding: 2px 5px 2px 10px;
    font-style: italic;
}

.KYT_errorMessages {
    padding:3px;
    width:80%;
}
label.KYT_invalid_icon
{
    background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/unchecked.gif') no-repeat;
        height:16px;
        width:16px;
        display: block;
        position: absolute;
        top: 4px;
        left: 152px;
}
label.KYT_valid_icon
{
    background: url('http://dev.jquery.com/view/trunk/plugins/validate/demo/images/checked.gif') no-repeat;
        height:16px;
        width:16px;
        display: block;
        position: absolute;
        top: 4px;
        left: 152px;
}


/* Button styles */
.KYT_input_button  { border:1px solid #aaa; color: #AAA; cursor: pointer; display: inline-block; font:inherit; margin-right: 6px; overflow: visible; padding: 5px 10px; text-align: center; width: auto;
    /* CSS3 */
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: -moz-linear-gradient(100% 100% 90deg, #EEEEEE, #FCFCFC) repeat scroll 0 0 transparent; }
    
.KYT_input_button:active { background: none repeat scroll 0 0 #f6f6f6; text-decoration:none; cursor: pointer; }

/* Get rid of the 'glow' effect in WebKit */
.KYT_textInput:focus, textarea:focus { outline: none; }

/* > Typography
---------------------------------------------------- */

.KYT_SmallGray11 { font-size:11px; color:#a6afb7; font-weight:bold; } /* ex. Company Name, Percent Completed  */
.KYT_SmallGray10 { font-size:10px; color:#a6afb7; font-weight:bold; } /* ex. Total Records Scanned, Total Records Collected  */
.KYT_SmallGray9 { font-size:9px; color:#a6afb7; font-weight:bold; } /* ex. Last Modified  */

.KYT_ProgressFont { font-size:10px; } /* Font in Progress Bar */

/* Header */
.KYT_lightdot { font-weight:bold; color:#CCC; } /* Light Gray mid-dot */
.KYT_Project_Title { font-size:24px; color:#295785; } /* ex. Corporate Migration */
.KYT_percent_complete { font-size:30px; color:#555; } 
.KYT_notifications { color:#FFF; }
.KYT_notifications_count { font-size:9px; color:#295785; font-weight:bold; }

/* Target and Source Overview Page */
.KYT_sourcetarget_title { color:#555; }
.KYT_system_title { color:#333; }
.KYT_records_errors { font-size:14px; font-weight:bold; color: #d74141; }
.KYT_last_modified { font-size:.8em; color:#989fa5; }

/* Account Settings Page */
a.KYT_AddAddress { font-size:11px; font-weight:bold; color:#333; text-decoration: underline; } /* Add Secondary Address  */
a.KYT_AddAddress:hover { cursor:pointer; }

/* Footer */

.KYT_site_footer { font-size:.8em; text-align:right; font-weight:bold; }


/*---------------------------------------------------*/
/*-----------------[Page Layouts]--------------------*/
/*---------------------------------------------------*/

/* > Login
---------------------------------------------------- */

.KYT_Login_body { background-color:#e4e8ea; border:1px solid #CCC; margin-top: 100px; padding:20px;
                 /* CSS3 */
                -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.KYT_login_center { margin:0; padding:0;  }

/* > Master Template
---------------------------------------------------- */

/* Header */
.KYT_site_header { height:80px; }
.KYT_userinfo { padding:12px 6px 0px 0px; float:right; color:#FFF; }
.KYT_userlinks { float:left; display:inline; width:237px; padding-top:4px; }
.KYT_active_username { border-bottom:1px solid #FFF; padding-bottom:4px; margin-bottom:4px; font-size:1.1em; font-weight:bold; text-align:right; }
.KYT_active_links { text-align:right; margin-top:4px; font-size:.86em; }
.KYT_useravatar { float:left; width:48px; height:48px; margin-left:15px; }

/* Main Navigation Tabs (Home, Clients, Projects) CSS Sprite */
	ul#KYT_mainnav { margin:0; padding:0; list-style:none; clear:both; }
		#KYT_mainnav li { overflow:hidden; text-indent:-9999px; display:inline; float:left; margin-right:5px; }
			#KYT_mainnav li a { background-image:url(../images/fw_nav_sprite.jpg) top left no-repeat; width:100%; height:100%; display:block; }

			/* Home Button */
			#KYT_mainnav li.home { width:110px; height:36px;}
				#KYT_mainnav li.home a { background-position:-5px 5px; }
				#KYT_mainnav li.home a:hover  { background-position:-5px -46px; }
				#KYT_mainnav li.home a.selected { background-position:-5px -46px; }

			/* Clients Button */
			#KYT_mainnav li.clients { width:110px; height:36px; }
				#KYT_mainnav li.clients a { background-position:-120px -5px; }
				#KYT_mainnav li.clients a:hover { background-position:-120px -46px; }
				#KYT_mainnav li.clients a.selected { background-position:-120px -46px; }

			/* Projects Button */
			#KYT_mainnav li.projects { width:110px; height:36px;}
				#KYT_mainnav li.projects a { background-position:-235px -5px; }
				#KYT_mainnav li.projects a:hover { background-position:-235px -46px; }
				#KYT_mainnav li.projects a.selected { background-position:-235px -46px; }
		
/* Sub Navigation Tabs ( Define, Map, Collect, Convert ) CSS Sprite */
#KYT_subnav { width:940px; height:48px; margin:10px 0 0 0; background:url(../images/subnav_bar_bg.jpg) top center no-repeat; }
	#KYT_subnav ul { margin:0; padding:0; list-style:none; clear:both; }
		#KYT_subnav li { overflow:hidden; text-indent:-9999px; display:inline; float:left; margin:0; }
			#KYT_subnav li a { background-image:url(../images/fw_subnav_sprite.jpg) top left no-repeat; width:341px; height:47px; display:block; }

			/* Define Button */
			#KYT_subnav li.define { width:81px; height:47px;}
				#KYT_subnav li.define a { background-position:0 0; }
				#KYT_subnav li.define a:hover  { background-position:-48px 0; }
				#KYT_subnav li.define a.selected { background-position:-48px 0; }

			/* Map Button */
			#KYT_subnav li.map { width:92px; height:47px; }
				#subnav li.map a { background-position:0 82px; }
				#subnav li.map a:hover { background-position:-48px 82px; }
				#subnav li.map a.selected { background-position:-48px 82px; }

			/* Collect Button */
			#KYT_subnav li.collect { width:94px; height:47px;}
				#subnav li.collect a { background-position:0 174px; }
				#subnav li.collect a:hover { background-position:-48px 174px; }
				#subnav li.collect a.selected { background-position:-48px 174px; }
				
			/* Convert Button */
			#KYT_subnav li.convert { width:74px; height:47px;}
				#subnav li.convert a { background-position:0 249px; }
				#subnav li.convert a:hover { background-position:-48px 249px; }
				#subnav li.convert a.selected { background-position:-48px 249px; }
				
/* Main Progress Bar Container */
.KYT_main_progressbar { margin:20px 0 0 0; }

/* Grid Container */
.KYT_gridBase_container { width:940px;  margin:25px 0 25px 0; }
.KYT_gridBase_top       { display:block; width:940px; height:10px; margin:0; background:url(../images/gridBase_top.jpg) top center no-repeat; }
.KYT_gridBase_content   { width:898px; background:#e4e8ea; overflow: auto; padding:10px 20px 20px 20px; border-left:1px solid #ccc; border-right:1px solid #ccc;; }
.KYT_gridBase_bottom    { display:block; width:940px; height:10px; margin:0; background:url(../images/gridBase_bottom.jpg) top center no-repeat; }
				

.KYT_section_header { padding:2px; font-size:140%; margin:0em 0 0; color:White; background: #1a1a1a; border-bottom:2px #384E1D dotted; }
.KYT_section_headerORIG { padding:2px; font-size:140%; margin:0em 0 0; color:White; background: #000000 url(../images/ui-bgMarkGreen.png) repeat-x; }


.KYT_section_subheader { background-color:#56514D; padding:2px; }

    /* EditorFor Classes */
		 .KYT_editor_root
        {
            padding:5px;
            clear:both;
        }
        .KYT_editor_root_no_clear
        {
            padding:5px;
        }
		.KYT_editor_label
		{
			margin-right:10px;
			margin-top:5px;
			float:left;
			font-weight:bold;
			width: 200px;
			text-align: right;
			color:White;
		}
		.KYT_login_label
		{
			margin-right:10px;
			margin-top:5px;
			float:left;
			font-weight:bold;
			width: 500px;
			color:White;
		}
		.KYT_editor_label_left
		{
			margin-right:10px;
			float:left;
			font-weight:bold;
			text-align: left;
		}
		.KYT_editor_display
		{
			float:left;
		}
	/* END EditorFor Classes */

	/* ViewFor Classes */
        .KYT_view_root
        {
            padding:5px;
            clear:both;
        }
        .KYT_view_root_no_clear
        {
            padding:5px;
        }
		.KYT_view_label
		{
			margin-right:10px;
			float:left;
			font-weight:bold;
			text-align:right;
			color:white;
		}
		.KYT_view_display
		{
			float:left;
			color:white;
		}
	/* END ViewFor Classes */


.KYT_long_input
{
    width:250px;
}

/*  END Input Classes */


.KYT_anchor {
    cursor:pointer;
}

/* BEGIN Property Map */

.KYT_transformation{
    border:1px black solid;
    display:inline-block;
    width:100%;
}

/* END Property Map */


.KYT_strikeOut{
    background-color:red;
}

.KYT_dashboardImage{
    height: 400px;
}

.KYT_displayImage{
    width: 200px;
}

.KYT_addEditImageSmall{
    height: 100px;
}

.KYT_boldResult{
    font-weight:bold;
}
.tooltip {
	display:none;
	font-size:12px;
	height:30px;
	width:160px;
	padding:25px;
	color:black;
	background-color:burlywood;
}
.KYT_DashInfo
{
	background-color:#333333;
}

.KYT_960Main
{
	background: #1a1a1a;
	border:2px #384E1D solid;
	height:100%;
	width:960px;
}

.KYT_Label
{
	float: left;
	width: 100px;
	text-align: right;
}

.KYT_Input
{
	float: left;
	width: 220px;
	text-align: left;
	-moz-box-shadow:inset 0 0 3px #cccccc;
    -webkit-box-shadow:inset 0 0 3px #cccccc;
    box-shadow:inset 0 0 3px #cccccc;
    padding-left:4px; padding-bottom:2px; padding-top:2px;
    min-height:18px;
    height:auto;
}

.KYT_Field_Image
{
	float: left;
	width: 380px;
	height:380px;
	border:2px #384E1D solid;
}
.KYT_AddNew_space
{
	float: left;
	margin: 1.1em 0 0 0;
}
.KYT_gridbreak 
{ 
		border-bottom:2px #384E1D dotted; 
		width:780px;
		background: #1a1a1a;
		height:25px;
		margin-bottom:.3em;
		padding:5px 0 0 7px;
		font-style:oblique;
		font-weight:bold;
}