/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0 0 0;/* REH 7/6/12 reduce vertical waste */
    padding: 0;
    background-color: #fff;
    list-style-type: none;
    clear: left;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    /*background: none repeat scroll 0 0 transparent;*/
    /*border: 1px inset #CCCCCC;*/
    /*height: 22px;*/
    /*margin-left: 5px;*/
    /*padding: 3px 0;*/
    /*-webkit-appearance: none;*/
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 1px;
    padding: 3px 5px;
    background-color: #bfd9e5;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
	width: 96%;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    /*background: url("../images/blank-blue.png") no-repeat scroll 0 0 transparent;*/
    color: #000000;
    cursor: pointer;
    clear: none;
    float: right;
    font-size: 16px;
    font-weight: bold;
    padding-left: 2px;
    width: 16px;
    height: 16px;
    line-height: 14px;
}

li.token-input-selected-token {
    background-color: #bdb76b;
    color: #fff !important;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0,0,0,.15);
  -moz-box-shadow   : 0 4px 5px rgba(0,0,0,.15);
  -o-box-shadow     : 0 4px 5px rgba(0,0,0,.15);
  box-shadow        : 0 4px 5px rgba(0,0,0,.15);
  z-index: 999;
    margin-left: 2px;
    margin-top: -9px;
    width: 98%;
}

.token-input-sprite{
     background: url('../images/chosen-sprite.png') no-repeat 0 0;
  display: block;
  /*width: 100%;*/
  height: 18px;
    width: 18px;
     position: absolute;
    right: 5px;
    top: 0;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    /*margin: 0;*/
    /*padding: 0;*/
	width: 95% !important;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding-bottom: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
    margin: 0;
    /*padding: 0;*/
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
    margin: 0;
    /*padding: 0;*/
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
    margin: 0;
    /*padding: 0;*/
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #003366;
    color: #ffffff !important;
    margin: 0;
}
.token-input-container{
    position: relative;
}
.token-input-input-token{
    /*background: url("../images/dropdown_icon.gif") no-repeat scroll right center ;*/
    background-color: #ffffff;
    display: block;
    cursor: pointer;
    margin: 2px 4px;
}

form .fieldRow .token-input-token p a {
    font-weight: normal;
    text-decoration: none;
}
.token-input-Input{
    background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #ffffff), color-stop(50%, #f6f6f6), color-stop(52%, #eeeeee), color-stop(100%, #f4f4f4));
  background-image: -webkit-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -moz-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -o-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: -ms-linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  background-image: linear-gradient(top, #ffffff 20%, #f6f6f6 50%, #eeeeee 52%, #f4f4f4 100%);
  -webkit-border-radius: 5px;
  -moz-border-radius   : 5px;
  border-radius        : 5px;
  -moz-background-clip   : padding;
  -webkit-background-clip: padding-box;
  background-clip        : padding-box;
  border: 1px solid #aaaaaa;
  -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  -moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 23px;
  line-height: 24px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}