<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=HARIK-PC;Initial Catalog=KnowYourTurf;Integrated Security=True;" />
    <add key="KnowYourTurf.SiteConfiguration" value="{
         name             : 'Method Fitness',
         id               : '666',          
         host             : 'http://localhost',          
         languageDefault  : 'en',          
         scriptsPath      : '~/Content/Scripts/',          
         cssFilePath      : '~/Content/stylesheets/',          
         ImagesPath       : '~/Content/Images/'} " />


    <!--     <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=SQLB5.webcontrolcenter.com;Initial Catalog=KnowYourTurf;User ID=raif;Password=pa$$word;network=dbmssocn"/>

   <add key="KnowYourTurf.SiteConfiguration" value="{          
         name             : 'Know Your Turf',          
         id               : '666',          
         host             : 'http://KYTSoftware',          
         languageDefault  : 'en-US',          
         scriptsPath      : '~/Content/Scripts/',          
         cssFilePath      : '~/Content/stylesheets/',          
         ImagesPath       : '~/Content/Images/'} "/>
  -->
  </appSettings>
</configuration>