<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--    <add key="KnowYourTurf.sql_server_connection_string" value="Data Source=HARIK-PC;Initial Catalog=KnowYourTurf;Integrated Security=True;" />
    

   -->
<add key="KnowYourTurf.sql_server_connection_string" value="Data Source=tcp:s04.winhost.com;Initial Catalog=DB_21609_kytqa;User ID=DB_21609_kytqa_user;Password=KYTadmin6;Integrated Security=False;"/>

</appSettings>
</configuration>